/*   
Theme Name: Invention
Theme URI: http://themes.jozoor.com/?theme=Invention-WP
Description: Invention Theme corporate, portfolio and business websites, responsive and clean layout, more than color skins, Fully Customizable, Comprehensive Theme Options and more..
Author: Jozoor Team
Author URI: http://www.jozoor.com
Version: 1.1
*/

/*
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =   
=     00   00 00 00   00 00 00   00 00 00   00 00 00   00 00  =
=     00   00    00        00    00    00   00    00   00     =
=     00   00    00      00      00    00   00    00   00     =  
=     00   00    00    00        00    00   00    00   00     =
=  00 00   00 00 00   00 00 00   00 00 00   00 00 00   00     =
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
= = = = = = Thanks for watching our source code :)  = = = = = =
*/

@media only screen and (max-width:1024px){#wrap.boxed{width:100%;margin:0}#wrap.boxed header.fixed .sticky-wrapper.is-sticky .down-header,#wrap.boxed header.fixed .sticky-wrapper.is-sticky .main-header{width:100%}}@media only screen and (min-width:768px) and (max-width:959px){#wrap.boxed{width:100%;margin:0}#wrap.boxed header.fixed .sticky-wrapper.is-sticky .down-header,#wrap.boxed header.fixed .sticky-wrapper.is-sticky .main-header{width:100%}}@media only screen and (max-width:767px){#wrap.boxed{width:100%;margin:0}#wrap.boxed header.fixed .sticky-wrapper.is-sticky .down-header,#wrap.boxed header.fixed .sticky-wrapper.is-sticky .main-header{width:100%}}@media only screen and (min-width:480px) and (max-width:767px){#wrap.boxed{width:100%;margin:0}#wrap.boxed header.fixed .sticky-wrapper.is-sticky .down-header,#wrap.boxed header.fixed .sticky-wrapper.is-sticky .main-header{width:100%}}@media only screen and (max-width:479px){#wrap.boxed{width:100%;margin:0}#wrap.boxed header.fixed .sticky-wrapper.is-sticky .down-header,#wrap.boxed header.fixed .sticky-wrapper.is-sticky .main-header{width:100%}}