/*   
Theme Name: Invention
Theme URI: http://themes.jozoor.com/?theme=Invention-WP
Description: Invention Theme corporate, portfolio and business websites, responsive and clean layout, more than color skins, Fully Customizable, Comprehensive Theme Options and more..
Author: Jozoor Team
Author URI: http://www.jozoor.com
Version: 1.1
*/

/*
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =   
=     00   00 00 00   00 00 00   00 00 00   00 00 00   00 00  =
=     00   00    00        00    00    00   00    00   00     =
=     00   00    00      00      00    00   00    00   00     =  
=     00   00    00    00        00    00   00    00   00     =
=  00 00   00 00 00   00 00 00   00 00 00   00 00 00   00     =
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
= = = = = = Thanks for watching our source code :)  = = = = = =
*/

@media only screen and (max-width:1024px){.parallax{background-position:center!important}}@media only screen and (max-width:959px){header.style-3.style-5 .navigation>#nav{display:none}.main-header .two-thirds.column{float:right}#menu{top:auto;left:auto;position:relative}#menu>a{width:40px;height:40px;position:relative;float:right;margin-top:33px;font-size:0}header.style-3 #menu>a{float:none;margin:10px auto}#menu>a:after,#menu>a:before{position:absolute;top:35%;left:25%;right:25%;content:''}#menu>a:after{top:60%}#menu:not(:target)>a:first-of-type,#menu:target>a:last-of-type{display:block}i.icon-angle-down.responsive{display:inline-block;float:right}.rightarrowclass{display:none}#menu>ul{height:auto;display:none;position:absolute;right:0;top:83px;min-width:65%;z-index:999}header.style-3 #menu>ul{right:15%;top:51px}header.style-3.style-5 #menu>ul{top:52px}#menu>ul>li{width:100%}#menu>ul>li>a,#menu>ul>li>ul>li>a,#menu>ul>li>ul>li>ul>li>a,#menu>ul>li>ul>li>ul>li>ul>li>a{height:auto;text-align:left;display:block;padding:13px 10px}#menu>ul>li:not(:last-child)>a{border-right:none}#menu li ul,#menu li ul li ul,#menu li ul li ul li ul{position:static;padding:0 15px;width:87%!important}#menu li ul li ul,#menu li ul li ul li ul,header.style-3 #menu li ul{width:93%!important}.button.small{padding:12px 18px}.button,.button.medium{padding:15px 24px}.button.large{padding:17px 25px}.flex-direction-nav li a{top:38%;padding:8px 7px}.post.style-2 .image-post{width:230px}.blog-3 #options #filters li,.one-page #options #filters li{float:left}.slider-1 .flex-direction-nav li a,.slider-2 .flex-direction-nav li a{padding:8px 9px}header.style-3.style-5 .down-header{min-height:61px}.one-page p.description{font-size:15px}.parallax{background-position:center!important}.woocommerce .woocommerce-3cols ul.products li.product,.woocommerce ul.products li.product,.woocommerce-page .woocommerce-3cols ul.products li.product,.woocommerce-page ul.products li.product{width:48.5%;margin-right:3%}.woocommerce .related ul.products li:nth-child(2n+2),.woocommerce .upsells.products ul li.product:nth-child(2n+2),.woocommerce ul.products li.product:nth-child(2n+2),.woocommerce ul.products li:nth-child(2n+2){margin-right:0!important}.woocommerce .cart-collaterals .cross-sells ul.products li.product,.woocommerce .related ul li.product,.woocommerce .related ul.products li.product,.woocommerce .upsells.products ul li.product,.woocommerce .upsells.products ul.products li.product,.woocommerce-page .cart-collaterals .cross-sells ul.products li.product,.woocommerce-page .related ul li.product,.woocommerce-page .related ul.products li.product,.woocommerce-page .upsells.products ul li.product,.woocommerce-page .upsells.products ul.products li.product{width:48.5%;margin-right:3%}.woocommerce .cart-collaterals .cross-sells ul.products li.product:nth-child(2n+2),.woocommerce .related ul li.product:nth-child(2n+2),.woocommerce .related ul.products li.product:nth-child(2n+2),.woocommerce .upsells.products ul li.product:nth-child(2n+2),.woocommerce .upsells.products ul.products li.product:nth-child(2n+2),.woocommerce-page .cart-collaterals .cross-sells ul.products li.product:nth-child(2n+2),.woocommerce-page .related ul li.product:nth-child(2n+2),.woocommerce-page .related ul.products li.product:nth-child(2n+2),.woocommerce-page .upsells.products ul li.product:nth-child(2n+2),.woocommerce-page .upsells.products ul.products li.product:nth-child(2n+2){margin-right:0!important}.woocommerce .cart-collaterals .cart_totals,.woocommerce .cart-collaterals .shipping_calculator,.woocommerce-page .cart-collaterals .cart_totals,.woocommerce-page .cart-collaterals .shipping_calculator{width:100%;margin:10px 0;float:none}}@media only screen and (min-width:768px) and (max-width:959px){#footer.thumbs li{width:47%;margin:3px 6px 3px 0}#footer.thumbs li img{width:103px;height:90px}.subscribe input.mail{width:89%;margin-right:0;margin-bottom:10px}#vertical-tabs ul.tabs,.subscribe input.submit{width:100%}#vertical-tabs ul.tabs li{float:left;width:37%;text-align:center}#vertical-tabs.style2 ul.tabs li{margin-right:3px}#vertical-tabs .contents,#vertical-tabs.style2 .contents{margin-left:0;width:100%}#vertical-tabs.style2 ul.tabs li.current{border:none!important}#vertical-tabs ul.tabs{border-top:none!important}.alert,.alert .close{font-size:14px}.form-elements textarea{width:94%}.welcome{font-size:23px;padding:30px 5%}.qoute h4{font-size:21px}.qoute .button{font-size:14px}.page-title h1{font-size:42px}.team .item{min-height:236px}.services.style-2,.services.style-3{text-align:center}.services.style-2 .circle,.services.style-3 .circle{float:none;margin:0 auto;margin-bottom:15px}.services.style-2 .data,.services.style-2 .four.columns .data,.services.style-3 .data{float:none;width:100%!important}.tables-column .header h3{font-size:20px}.portfolio .item.element-4 .img-caption .desc span{margin-top:1%}.gallery .item.element-4 .img-caption .desc h3,.portfolio .item.element-4 .img-caption .desc h3{font-size:20px;margin-bottom:0}.gallery .item.element-4 .img-caption .desc p,.portfolio .item.element-4 .img-caption .desc p{font-size:13px}.gallery .item.element-3 .img-caption .desc,.portfolio .item.element-3 .img-caption .desc,.recent-work .item .img-caption .desc{padding:5%}.gallery .item.element-3 .img-caption .desc h3,.portfolio .item.element-3 .img-caption .desc h3,.recent-work .item .img-caption .desc h3{font-size:20px;margin-bottom:0}.gallery .item.element-3 .img-caption .desc p,.portfolio .item.element-3 .img-caption .desc p,.recent-work .item .img-caption .desc p{font-size:13px}.gallery .item.element-3 .img-caption .desc span,.portfolio .item.element-3 .img-caption .desc span,.recent-work .item .img-caption .desc span{margin-top:3%}.sidebar .widget .text-search,.woocommerce.widget_product_search input[type=text],header .widget .text-search{width:77%}#sidebar.thumbs li{width:38.7%}.widget .followers li{margin:10px 18px}.related-posts .item{width:156px}.related-posts .no-thumbnail{height:97px}.related-posts .format-wrap{top:30%}.form-box input.text,.form-box textarea{width:95.8%}.form-box{width:100%;margin:0 0 10px}.slider-1 .slides li .item{max-width:45%}.slider-1 .loading .slides li .contain,.slider-1 .slides li .contain{min-height:395px!important}.slider-1 .slides li .links,.slider-1 .slides li .slide-desc,.slider-1 .slides li h2{max-width:380px;min-width:380px}.slider-1 .slides li h2{font-size:22px;line-height:32px}.slider-1 .slides li .slide-desc{font-size:16px}.four.columns #footer.thumbs li{width:46%}.slider-1 .slides li .item .video-wrap{min-width:357px;min-height:194px}.slider-2 .slides li .links,.slider-2 .slides li .slide-desc,.slider-2 .slides li h2{width:80%;padding:0 10%}.slider-2 .loading .slides li .contain,.slider-2 .slides li .contain{min-height:447px!important}.slider-2 .loading .slides li .contain.image-video-item,.slider-2 .slides li .contain.image-video-item{min-height:427px!important}.one-page h1.title,.welcome-text{font-size:38px}header.style-3 .nav-search .nav-search-from.search form .text-search{width:88.5%}header .nav-search .nav-search-from.search form{width:100%!important}.nav-search .nav-search-from{width:90%}header.style-3 .nav-search .nav-search-from{width:93.5%}.mejs-controls div.mejs-time-rail{width:63.9%!important}.mejs-controls .mejs-time-rail .mejs-time-total{width:61.3%!important}.sixteen.columns .mejs-controls div.mejs-time-rail{width:74.9%!important}.sixteen.columns .mejs-controls .mejs-time-rail .mejs-time-total{width:73.3%!important}.one-third.column .mejs-controls div.mejs-time-rail{width:21.9%!important}.one-third.column .mejs-controls .mejs-time-rail .mejs-time-total{width:19.3%!important}}@media only screen and (max-width:767px){.recent-work .item{max-height:336px}}@media only screen and (min-width:480px) and (max-width:767px){.main-header .one-third.column,.main-header .two-thirds.column{width:auto}.logo{margin:30px 0 45px}header.style-3 .logo{margin:30px 0;text-align:center}#menu>ul{width:420px;right:0;top:81px}header.style-3 #menu>ul{width:420px;right:0;top:51px}#menu li ul,#menu li ul li ul,#menu li ul li ul li ul{width:92.8%!important}.phone-mail{text-align:center;margin-bottom:7px;margin-top:5px}.phone-mail a{margin:0 10px}header .social{float:none;text-align:center;margin-bottom:11px}.top-bar{padding:3px 0;min-height:0}.top-bar .slidedown{display:none}.down-button{display:block;width:30px;margin:0 auto;height:22px;opacity:.6;filter:alpha(opacity=60)}.down-button:hover{opacity:1;filter:alpha(opacity=100)}#menu>a{margin-top:31px}header.style-3 #menu>a{margin-top:10px}footer .footer-top .widget{margin-bottom:25px}footer h3.title{margin-bottom:10px}.subscribe input.mail{width:62%}.featured-clients img{display:block;margin:0 auto}span.copyright{text-align:center;margin-bottom:11px;line-height:24px}footer .social{text-align:center;float:none}footer .social a{margin:0 0 0 13px}.services.style-1 .item{margin-bottom:35px}.services.style-1 .item .circle{margin-bottom:17px}.services.style-1 .item h3{margin-bottom:3px}#vertical-tabs ul.tabs{width:100%}#vertical-tabs ul.tabs li{float:left;width:37%;text-align:center}#vertical-tabs.style2 ul.tabs li{margin-right:3px}#vertical-tabs .contents,#vertical-tabs.style2 .contents{margin-left:0;width:100%}#vertical-tabs.style2 ul.tabs li.current{border:none!important}#vertical-tabs ul.tabs{border-top:none!important}.welcome{font-size:23px;padding:30px 5%;text-align:left}.button.small{padding:10px 16px}.button,.button.medium{padding:12px 22px}.button.large{padding:15px 22px}.page-title h1{font-size:37px}.services.style-2 .data{width:83%!important}.services.style-3 .data{width:70%!important}.page-404 .oops{font-size:115px}.page-404 .text{margin-bottom:15px;font-size:28px;line-height:41px}.page-404{padding:40px 0 150px}.sidebar .widget .text-search,.woocommerce.widget_product_search input[type=text],header .widget .text-search{width:88%}#sidebar.thumbs li{width:30.9%}#footer.thumbs li img,#sidebar.thumbs li img,.four.columns #footer.thumbs li img{width:126px;height:105px}.widget .followers li{margin:10px 21px}.related-posts .item{width:197px}.related-posts .no-thumbnail{height:123px}.form-box input.text,.form-box textarea{width:94.8%}.form-box{width:100%;margin:0 0 10px}.comment-form input.button{width:100%;padding:13px 0}body.under-construction .content p.text{font-size:29px}body.under-construction .content{height:515px;padding:75px 0}body.under-construction .content .block{margin-bottom:20px}body.under-construction .content input.subscribe-text{width:87%;margin-left:0;margin-right:0;margin-bottom:15px}body.under-construction .content input.subscribe-button{width:94%;margin-bottom:35px}.slider-1 .slides li .item{max-width:45%}.slider-1 .loading .slides li .contain,.slider-1 .slides li .contain{min-height:220px!important}.slider-1 .slides li .links,.slider-1 .slides li .slide-desc,.slider-1 .slides li h2{max-width:280px;min-width:280px}.slider-1 .slides li h2{font-size:22px;line-height:32px}.slider-1 .slides li .links,.slider-1 .slides li .slide-desc{display:none}header .search form{margin:0 0 30px}.slider-1 .slides li .item .video-wrap{min-width:195px;min-height:124px}.slider-2 .slides li .links,.slider-2 .slides li .slide-desc,.slider-2 .slides li h2{width:100%;padding:0}.slider-2 .slides li h2 span{padding:5px 20px;line-height:122px;font-size:30px}.slider-2 .slides li .slide-desc{font-size:16px}.slider-2 .loading .slides li .contain,.slider-2 .slides li .contain{min-height:427px!important}.slider-2 .loading .slides li .contain.image-video-item,.slider-2 .slides li .contain.image-video-item{min-height:247px!important}.slidecontrols li a.carousel1-next{position:absolute;top:0;right:0}.slidecontrols li a.carousel1-prev{position:absolute;top:0;right:34px}.slidecontrols li a.carousel2-next,.slidecontrols li a.carousel3-next,.slidecontrols li a.carousel4-next{position:absolute;top:0;right:0}.slidecontrols li a.carousel2-prev,.slidecontrols li a.carousel3-prev,.slidecontrols li a.carousel4-prev{position:absolute;top:0;right:34px}.one-page h1.title{font-size:36px}.one-page.section h2{margin-top:20px;text-align:center}.one-page.section p{text-align:center}.download-now h2{font-size:29px}.welcome-text{font-size:28px}.post.style-2 .image-post{width:180px}.audio.entry.image-post .mejs-controls div.mejs-horizontal-volume-slider{width:50px}.form-elements.post-protected span{width:100%}.single-gallery-meta{float:left;clear:both;margin:10px 0 0}header .nav-search .nav-search-from.search form .text-search{width:86.5%}header .nav-search .nav-search-from.search form{width:100%!important}.nav-search .nav-search-from{width:92.5%}.top-down-menu{margin-top:10px;text-align:center;margin-bottom:10px}.top-down-menu li{float:none;display:inline-block;margin-bottom:10px}.wpcf7 .wpcf7-captchar,.wpcf7 .wpcf7-date,.wpcf7 .wpcf7-number,.wpcf7 .wpcf7-quiz,.wpcf7 .wpcf7-text,.wpcf7 .wpcf7-textarea{width:94.6%}.mejs-controls div.mejs-time-rail,.one-third.column .mejs-controls div.mejs-time-rail,.sixteen.columns .mejs-controls div.mejs-time-rail{width:55.9%!important}.mejs-controls .mejs-time-rail .mejs-time-total,.one-third.column .mejs-controls .mejs-time-rail .mejs-time-total,.sixteen.columns .mejs-controls .mejs-time-rail .mejs-time-total{width:53.3%!important}}@media only screen and (max-width:479px){.logo img{display:block;margin:0 auto}#menu>a{margin:0 auto;margin-bottom:35px;float:none}header.style-3 #menu>a{margin:10px auto;float:none}#menu>ul{width:100%;right:0;top:50px}header.style-3 #menu>ul{top:51px;right:0}.phone-mail{text-align:center;margin-bottom:0;margin-top:5px}.phone-mail a{margin:0;display:block;margin-bottom:10px}header .social{float:none;text-align:center;margin-bottom:14px}.top-bar{padding:3px 0;min-height:0}.top-bar .slidedown{display:none}.down-button{display:block;width:30px;margin:0 auto;height:22px;opacity:.6;filter:alpha(opacity=60)}.down-button:hover{opacity:1;filter:alpha(opacity=100)}span.copyright{text-align:center;margin-bottom:11px;line-height:24px}footer .social{text-align:center;float:none}footer .social a{margin:0 0 0 10px}.subscribe input.mail{width:89%;margin-right:0;margin-bottom:10px}.subscribe input.submit{width:99%}#footer.thumbs li,#sidebar.thumbs li{width:31%;margin:3px 6px 0 0}footer .footer-top .widget{margin-bottom:25px}footer h3.title{margin-bottom:10px}.featured-clients img{display:block;margin:0 auto}.latest-blog .item h3,h3.title{font-size:23px}.services.style-1 .item{margin-bottom:35px}.services.style-1 .item .circle{margin-bottom:17px}.services.style-1 .item h3{margin-bottom:3px}.button.small{padding:8px 13px}.button,.button.medium{padding:10px 18px}.button.large{padding:13px 19px}#horizontal-tabs ul.tabs,#vertical-tabs ul.tabs{width:100%}#horizontal-tabs ul.tabs li,#vertical-tabs ul.tabs li{float:left;width:82%;text-align:center}#vertical-tabs.style2 ul.tabs li{margin-right:3px}#vertical-tabs .contents,#vertical-tabs.style2 .contents{margin-left:0;width:100%}#vertical-tabs.style2 ul.tabs li.current{border:none!important}#vertical-tabs ul.tabs{border-top:none!important}.welcome{font-size:23px;padding:30px 5%;text-align:left}.alert,.alert .close{font-size:14px}.form-elements span{width:100%;margin:10px 0}.qoute h4{font-size:19px}.page-title h1{font-size:33px;float:none;text-align:center}.testimonials-arrow{margin-left:15px}.testimonial-item .author{margin-left:57px}.team .item{min-height:391px}.services.style-2,.services.style-3{text-align:center}.services.style-2 .circle,.services.style-3 .circle{float:none;margin:0 auto;margin-bottom:15px}.services.style-2 .data,.services.style-3 .data{float:none;width:100%!important}.page-404 .oops{font-size:90px;margin-bottom:30px}.page-404 .text{margin-bottom:15px;font-size:20px;line-height:41px}.page-404{padding:40px 0 120px}.gallery .item.element-3 .img-caption .desc,.portfolio .item.element-3 .img-caption .desc,.recent-work .item .img-caption .desc{padding:5%}.gallery .item.element-3 .img-caption .desc h3,.portfolio .item.element-3 .img-caption .desc h3,.recent-work .item .img-caption .desc h3{font-size:20px;margin-bottom:0}.gallery .item.element-3 .img-caption .desc p,.portfolio .item.element-3 .img-caption .desc p,.recent-work .item .img-caption .desc p{font-size:13px}.gallery .item.element-3 .img-caption .desc span,.portfolio .item.element-3 .img-caption .desc span,.recent-work .item .img-caption .desc span{margin-top:3%}.portfolio-control{float:none;margin-right:auto;margin-left:auto;width:170px;margin-top:15px;display:inline-block}.flex-direction-nav li a{top:37%;padding:0 5px}.sidebar .widget .text-search,.woocommerce.widget_product_search input[type=text],header .widget .text-search{width:80%}.widget .followers li{margin:10px 30px}.about-author .avatar{float:none;text-align:center}.about-author .content .data{margin-left:0;margin-top:12px}.about-author .content .data h5{text-align:center}.related-posts .item{width:100%;margin-right:0}.related-posts .no-thumbnail{height:163px}.related-posts .format-wrap{top:40%}.comments .comment-box .avatar{float:none;text-align:center}.comments .comment-box div.comment{margin-left:0;margin-top:15px}.comments .comment-box .comment .date-replay,.comments .comment-box .comment h5{text-align:center}.comments .comment-box .children{margin-left:20px}.form-box input.text,.form-box textarea{width:91%}.form-box{width:100%;margin:0 0 10px}.comment-form input.button{width:99%;padding:11px 0}body.under-construction .content h2.title{font-size:27px}body.under-construction .content p.text{font-size:18px}body.under-construction .content{height:488px;padding:75px 0}body.under-construction .content .block{width:115px;height:65px;padding:25px 0;margin:0 5px;margin-bottom:20px}body.under-construction .content input.subscribe-text{width:87%;margin-left:0;margin-right:0;margin-bottom:15px}body.under-construction .content input.subscribe-button{width:98%;margin-bottom:35px}.slider-1 .slides li .item{max-width:45%}.slider-1 .loading .slides li .contain,.slider-1 .slides li .contain{min-height:135px!important}.slider-1 .slides li .links,.slider-1 .slides li .slide-desc,.slider-1 .slides li h2{max-width:140px;min-width:140px}.slider-1 .slides li h2{font-size:15px;line-height:20px}.slider-1 .slides li .links,.slider-1 .slides li .slide-desc{display:none}header .search form{margin:0 0 30px}.slider-1 .slides li .item .video-wrap{min-width:115px;min-height:95px}.slider-2 .slides li .links,.slider-2 .slides li .slide-desc,.slider-2 .slides li h2{width:100%;padding:0}.slider-2 .slides li h2{margin-bottom:76px}.slider-2 .slides li h2 span{padding:5px;line-height:45px;font-size:18px}.slider-2 .slides li .slide-desc{font-size:14px}.slider-2 .loading .slides li .contain,.slider-2 .slides li .contain{min-height:357px!important}.slider-2 .loading .slides li .contain.image-video-item,.slider-2 .slides li .contain.image-video-item{min-height:157px!important}.slidecontrols li a.carousel1-next{position:absolute;top:0;right:0}.slidecontrols li a.carousel1-prev{position:absolute;top:0;right:34px}.slidecontrols li a.carousel2-next,.slidecontrols li a.carousel3-next,.slidecontrols li a.carousel4-next{position:absolute;top:0;right:0}.slidecontrols li a.carousel2-prev,.slidecontrols li a.carousel3-prev,.slidecontrols li a.carousel4-prev{position:absolute;top:0;right:34px}.one-page h1.title{font-size:29px}.one-page.section h2{margin-top:20px;text-align:center}.one-page.section p{text-align:center}.download-now h2{font-size:29px}.welcome-text{font-size:20px}.one-page .testimonial-item .author{margin-bottom:50px}.form-elements.post-protected span{width:98%}.form-elements.post-protected input[type=password]{min-width:205px}.post .post-content .post-protected .button.small{margin-left:0}.post.style-2 .image-post{float:none;width:100%}.single-gallery-meta{float:none;margin:20px auto 8px;display:block;text-align:center}header .nav-search .nav-search-from.search form .text-search{width:77.5%}header .nav-search .nav-search-from.search form{width:100%!important}.nav-search .nav-search-from{width:87.5%}.top-down-menu{margin-top:10px;text-align:center;margin-bottom:10px}.top-down-menu li{float:none;display:inline-block;margin-bottom:10px}.wpcf7 .wpcf7-captchar,.wpcf7 .wpcf7-date,.wpcf7 .wpcf7-number,.wpcf7 .wpcf7-quiz,.wpcf7 .wpcf7-text,.wpcf7 .wpcf7-textarea{width:91.6%}.woocommerce .woocommerce-result-count,.woocommerce-page .woocommerce-result-count{margin-bottom:15px!important;float:none}.woocommerce .woocommerce-ordering,.woocommerce-page .woocommerce-ordering{float:none;margin-bottom:30px!important}.woocommerce .woocommerce-ordering select,.woocommerce-page .woocommerce-ordering select{width:100%}.woocommerce div.product form.cart .button,.woocommerce-page div.product form.cart .button{padding:9px 15px}.mejs-controls div.mejs-time-rail,.one-third.column .mejs-controls div.mejs-time-rail,.sixteen.columns .mejs-controls div.mejs-time-rail{width:29.9%!important}.mejs-controls .mejs-time-rail .mejs-time-total,.one-third.column .mejs-controls .mejs-time-rail .mejs-time-total,.sixteen.columns .mejs-controls .mejs-time-rail .mejs-time-total{width:26.3%!important}}