/*   
Theme Name: Invention
Theme URI: http://themes.jozoor.com/?theme=Invention-WP
Description: Invention Theme corporate, portfolio and business websites, responsive and clean layout, more than color skins, Fully Customizable, Comprehensive Theme Options and more..
Author: Jozoor Team
Author URI: http://www.jozoor.com
Version: 1.1
*/

/*
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =   
=     00   00 00 00   00 00 00   00 00 00   00 00 00   00 00  =
=     00   00    00        00    00    00   00    00   00     =
=     00   00    00      00      00    00   00    00   00     =  
=     00   00    00    00        00    00   00    00   00     =
=  00 00   00 00 00   00 00 00   00 00 00   00 00 00   00     =
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
= = = = = = Thanks for watching our source code :)  = = = = = =
*/

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}li,ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}html{-webkit-text-size-adjust:none}body{-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%}*{outline:0}input[type=submit]{-webkit-appearance:none;-moz-appearance:none;appearance:none}::-moz-selection{color:#fff;text-shadow:none}::selection{color:#fff;text-shadow:none}.post-content,blockquote,p{line-height:23px}.format-link .entry-link,.format-quote blockquote,.format-quote blockquote p{line-height:30px}blockquote{font-style:italic}.google-map iframe{width:100%;min-height:400px}pre{padding:10px;margin:20px 0;border-radius:2px;word-break:break-all;word-wrap:break-word;white-space:pre-line;overflow:hidden;line-height:24px}.fb-like-box iframe[style]{background:#fff}.fb-like-box{margin-top:6px}.fb-comments,.fb-comments iframe span[style],.fb-comments iframe[style],.fb-comments span,.fb-like-box,.fb-like-box iframe span[style],.fb-like-box iframe[style],.fb-like-box span{width:100%!important}.form-elements input,.form-elements select,.form-elements textarea,.one-page.welcome .welcome-text,.post-content .latest-blog .item h3,.qoute p,.tables-column .header h3 span.pop,.team-shortcode .item span,.widget .followers li span,.woocommerce-ordering select,body{font-family:RobotoRegular,Arial,sans-serif}#horizontal-tabs ul.tabs li,#vertical-tabs ul.tabs li,.address-info li,.alert p,.arrow-list li,.asterisk-list li,.blog-3 .item a.title,.button,.check-list li,.circle-list li,.cross-list li,.email-info li,.form-box label,.heart-list li,.latest-blog .item p,.minus-list li,.navigation ul li,.page-404 .oops,.pagination,.phone-info li,.plus-list li,.post-content,.progress-bar .meter,.progress-bar h5,.project-details li,.qoute,.responsive ul li,.services.style-1 .item h3,.services.style-2 .item h4,.services.style-3 .item h4,.sidebar .widget,.slider-1 .slides li h2,.square-list li,.star-list li,.tables-column .footer h4,.tables-column .header .price,.tables-column .header h3,.team .item h4,.testimonial-item .author a,.testimonial-item .author span,.welcome,.widget .followers h4,.woocommerce nav.woocommerce-pagination,.woocommerce-page nav.woocommerce-pagination,.wpcf7 p,.wpcf7-submit,body.under-construction .content .block .label,body.under-construction .content h2.title,footer,p{font-family:RobotoMedium,Arial,sans-serif}.about-author .content .data h5,.comments .comment-box h5,.one-page h1.title,.one-page h2.title,.page-section h1,.page-section h2,.page-section h3,.subscribe input.submit,body.under-construction .content .block .flip-top,body.under-construction .content input.subscribe-button,h3.title{font-family:RobotoBold,Arial,sans-serif}.img-caption .desc span,.more{font-family:RobotoThin,Arial,sans-serif}.about-author h3,.comment-form h3,.comments-box h3,.fancybox-title-inside-wrap,.fancybox-title-outside-wrap,.form-box input.text,.form-box textarea,.notification_error,.notification_ok,.related-posts h3,.single-gallery .item.gallery-item .img-caption-gallery .desc,.slider-1 .slides li .slide-desc,.slider-2 .slides li .slide-desc,.slider-2 .slides li h2,.subscribe input.mail,.wpcf7 .wpcf7-captchar,.wpcf7 .wpcf7-date,.wpcf7 .wpcf7-number,.wpcf7 .wpcf7-quiz,.wpcf7 .wpcf7-text,.wpcf7 .wpcf7-textarea,blockquote,blockquote p,body.under-construction .content input.subscribe-text,body.under-construction .content p.text,footer h3.title{font-family:RobotoCondensed,Arial,sans-serif}.one-page p.description,.page-section .post-content>p,.page-section .post-content .shortcode-column>p,.page-title h1,.post-content .wp-caption p{font-family:RobotoLight,Arial,sans-serif}.pricing-tables .tables-column,.single-gallery-meta,span.wpcf7-not-valid-tip{font-family:RobotoRegular,Arial,sans-serif}.tables-column .header h3 span.pop,.top-bar,.widget.most-posts ul li span,.woocommerce .star-rating,.woocommerce-page .star-rating{font-size:12px}.breadcrumbs,.comments .comment-box .date-replay,.latest-blog .item .meta,.post-meta .meta,.related-posts .item .meta,.tables-column .header .price span,.the-icons li,.top-down-menu li,.widget .followers,.widget.most-posts ul.posts li,.woocommerce ul.products li.product .price del,.woocommerce-ordering select,.woocommerce-page ul.products li.product .price del,span.copyright,span.wpcf7-not-valid-tip{font-size:13px}.accordion .icon-minus,.accordion .icon-plus,.footer-top.col-4,.gallery .item.element-4 .img-caption .desc p,.navigation ul li ul li,.portfolio .item.element-4 .img-caption .desc p,.team .item span,.woocommerce .cart .quantity input.qty,body{font-size:14px}.alert,.alert .close,.button.small,.form-box input.text,.form-box textarea,.form-elements input,.post-meta .meta i,.related-posts .item h5,.sidebar .widget .text-search,.widget .followers h4,.woocommerce #content div.product .woocommerce-tabs ul.tabs li,.woocommerce div.product .woocommerce-tabs ul.tabs li,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,.woocommerce-page div.product .woocommerce-tabs ul.tabs li,.woocommerce.widget_product_search input[type=text],.wpcf7 .wpcf7-captchar,.wpcf7 .wpcf7-date,.wpcf7 .wpcf7-number,.wpcf7 .wpcf7-quiz,.wpcf7 .wpcf7-text,.wpcf7 .wpcf7-textarea,footer,footer .widget .text-search,header .widget .text-search{font-size:15px}#options li,.cart .quantity input.minus,.cart .quantity input.plus,.fancybox-title-inside-wrap,.fancybox-title-outside-wrap,.format-quote blockquote .author,.img-caption .desc p,.meter .meter-title,.navigation ul li,.notification_error,.phone-mail i.icon-envelope-alt,.post-tags i,.progress-bar h5,.qoute p,.single-gallery-meta,.subscribe input.mail,.subscribe input.submit,.testimonial-item .author a,.testimonial-item .author span,.widget #horizontal-tabs ul.tabs li,.woocommerce ul.products li.product .price,.woocommerce ul.products li.product h3,.woocommerce-page ul.products li.product .price,.woocommerce-page ul.products li.product h3,.wpcf7 p,blockquote{font-size:16px}.format-aside .entry-content,.notification_ok,.pagination,.phone-mail i.icon-phone,.woocommerce div.product form.cart .button,.woocommerce nav.woocommerce-pagination,.woocommerce table.shop_table th,.woocommerce-page div.product form.cart .button,.woocommerce-page nav.woocommerce-pagination,.woocommerce-page table.shop_table th{font-size:17px}#horizontal-tabs ul.tabs li,#vertical-tabs ul.tabs li,.alert i,.breadcrumbs i.icon-home,.button.medium,.form-box label,.one-page p.description,.page-section .post-content>p,.page-section .post-content .shortcode-column>p,.slider-1 .slides li .slide-desc,.slider-2 .slides li .slide-desc,.wpcf7-submit{font-size:18px}.about-author .content .data h5,.blog-3 .item a.title{font-size:19px}.accordion h4,.dropcaps:first-letter,.form-box label small,.format-link .entry-link,.format-quote .entry-quote blockquote,body.under-construction .content .block .label{font-size:20px}.down-button,.gallery .item .img-caption .desc span,.tweet_list li i.icon-twitter,.woocommerce div.product p.price,.woocommerce div.product span.price,.woocommerce-page div.product p.price,.woocommerce-page div.product span.price{font-size:22px}.gallery .item.element-4 .img-caption .desc h3,.portfolio .item.element-4 .img-caption .desc h3,.qoute h4,body.under-construction .content input.subscribe-text,footer h3.title{font-size:23px}.button.large,.services.style-2 .circle i{font-size:24px}#toggle-view span.link,.gallery.entry .icon-search,.gallery.slider .icon-search,.one-page .img-caption .desc span,.pagination a.next,.pagination a.prev,.services.style-1 .item h3,.single-project .icon-search,.welcome,body.under-construction .content input.subscribe-button{font-size:25px}.latest-blog .item h3,.tables-column .header h3,h3.title{font-size:26px}.slider-1 .slides li h2{font-size:27px}.more,.portfolio-control,.portfolio-control a.all,.slidecontrols li a{font-size:28px}.page-404 .text{font-size:30px}#toTop,.flex-direction-nav li a{font-size:31px}body.under-construction .content p.text{font-size:32px}body.under-construction .content h2.title{font-size:39px}.slider-1 .flex-direction-nav li a,.slider-2 .flex-direction-nav li a{font-size:41px}.slider-2 .slides li h2 span{font-size:42px}.services.style-3 .circle i{font-size:44px}.img-caption .desc span,.page-404 i.icon-fire,body.under-construction .content .block .flip-top{font-size:50px}.services.style-1 .item .circle{font-size:55px}.page-404 i.icon-coffee{font-size:100px}.page-404 .oops{font-size:135px}.s-10{font-size:10px}.s-11{font-size:11px}.s-12{font-size:12px}.s-13{font-size:13px}.s-14{font-size:14px}.s-15{font-size:15px}.s-16{font-size:16px}.s-17{font-size:17px}.s-18{font-size:18px}.s-19{font-size:19px}.s-20{font-size:20px}.s-21{font-size:21px}.s-22{font-size:22px}.s-23{font-size:23px}.s-24{font-size:24px}.s-25{font-size:25px}.s-26{font-size:26px}.s-27{font-size:27px}.s-28{font-size:28px}.s-29{font-size:29px}.s-30{font-size:30px}.s-31{font-size:31px}.s-32{font-size:32px}.s-33{font-size:33px}.s-34{font-size:34px}.s-35{font-size:35px}.s-36{font-size:36px}.s-37{font-size:37px}.s-38{font-size:38px}.s-39{font-size:39px}.s-40{font-size:40px}.s-41{font-size:41px}.s-42{font-size:42px}.s-43{font-size:43px}.s-44{font-size:44px}.s-45{font-size:45px}.s-46{font-size:46px}.s-47{font-size:47px}.s-48{font-size:48px}.s-49{font-size:49px}.s-50{font-size:50px}.s-51{font-size:51px}.s-52{font-size:52px}.s-53{font-size:53px}.s-54{font-size:54px}.s-55{font-size:55px}.s-56{font-size:56px}.s-57{font-size:57px}.s-58{font-size:58px}.s-59{font-size:59px}.s-60{font-size:60px}.s-61{font-size:61px}.s-62{font-size:62px}.s-63{font-size:63px}.s-64{font-size:64px}.s-65{font-size:65px}.s-66{font-size:66px}.s-67{font-size:67px}.s-68{font-size:68px}.s-69{font-size:69px}.s-70{font-size:70px}.s-71{font-size:71px}.s-72{font-size:72px}.s-73{font-size:73px}.s-74{font-size:74px}.s-75{font-size:75px}.s-76{font-size:76px}.s-77{font-size:77px}.s-78{font-size:78px}.s-79{font-size:79px}.s-80{font-size:80px}.s-81{font-size:81px}.s-82{font-size:82px}.s-83{font-size:83px}.s-84{font-size:84px}.s-85{font-size:85px}.s-86{font-size:86px}.s-87{font-size:87px}.s-88{font-size:88px}.s-89{font-size:89px}.s-90{font-size:90px}.s-91{font-size:91px}.s-92{font-size:92px}.s-93{font-size:93px}.s-94{font-size:94px}.s-95{font-size:95px}.s-96{font-size:96px}.s-97{font-size:97px}.s-98{font-size:98px}.s-99{font-size:99px}.s-100{font-size:100px}.social a{font-size:18px}.welcome-text p{line-height:60px}#toTop,.blog-3 #options #filters,.blog-3 .pagination-contain,.download-now,.flex-direction-nav li a,.member-social a,.more,.notification_ok,.one-page #options #filters,.one-page h1.title,.one-page h2.title,.one-page p.description,.page-404 .oops,.page-404 .text,.post-content table td,.post-content table th,.services.style-1 .item .circle,.services.style-1 .item h3,.services.style-1 .item h4,.services.style-1 .item p,.services.style-2 .item .circle,.services.style-3 .item .circle,.share-social a,.slidecontrols li a,.slider-2 .slides li .contain,.tables-column,.text-center,.welcome,.welcome-text,body.under-construction .content,body.under-construction footer,body.under-construction header .logo,header.style-3.style-5 .logo,header.style-3.style-5 .navigation,table.style td,table.style th{text-align:center}.notification_error,.one-page.section h2,.one-page.section p,header.style-3.style-5 .navigation>#nav{text-align:left}h1,h2,h3,h4,h5,h6{font-weight:400}h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}h1{font-size:46px;line-height:50px;margin-bottom:30px}h2{font-size:35px;line-height:40px;margin-bottom:30px}.services.style-1 .item h4,.woocommerce .related h2,.woocommerce .upsells.products h2,.woocommerce div.product .product_title,.woocommerce-page .related h2,.woocommerce-page .upsells.products h2,.woocommerce-page div.product .product_title,h3{font-size:28px;line-height:34px;margin-bottom:8px}.woocommerce #content div.product .woocommerce-tabs .panel h2,.woocommerce #reviews h3,.woocommerce .cart-collaterals h2,.woocommerce div.product .woocommerce-tabs .panel h2,.woocommerce-page #content div.product .woocommerce-tabs .panel h2,.woocommerce-page #reviews h3,.woocommerce-page .cart-collaterals h2,.woocommerce-page div.product .woocommerce-tabs .panel h2,h4{font-size:21px;line-height:30px;margin-bottom:4px}h5{font-size:18px;line-height:24px;margin-bottom:4px}h6{font-size:16px;line-height:21px;margin-bottom:4px}em{font-style:italic}strong{font-weight:700}small{font-size:80%}.portfolio .col3 h3{font-size:24px;line-height:28px}.portfolio .col3 .img-caption .desc p{font-size:15px}.portfolio .col3 .img-caption .desc span{font-size:41px}.portfolio .col4 h3{font-size:20px;line-height:24px}.portfolio .col4 .img-caption .desc p{font-size:13px}.portfolio .col4 .img-caption .desc span{font-size:36px}.tables-column .header h3 span.pop{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}html.ie.ie8 .tables-column .header h3 span.pop{margin-right:-6px;margin-top:-27px;-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865474, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865474, SizingMethod='auto expand')"}#horizontal-tabs.style2 ul.tabs li,#vertical-tabs.style2 ul.tabs li,.button,.button i,.subscribe input.submit,.team .item img,.woocommerce #content div.product .woocommerce-tabs ul.tabs li,.woocommerce div.product .woocommerce-tabs ul.tabs li,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,.woocommerce-page div.product .woocommerce-tabs ul.tabs li,.wpcf7-submit,a,body.under-construction .content input.subscribe-button{-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-ms-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}#footer.thumbs li img,#sidebar.thumbs li img,.featured-clients img,.image-post img,.latest-blog .item img,.related-posts .item img,.services.style-1 .item .circle,.services.style-2 .item .circle,.services.style-3 .item .circle,.widget.most-posts ul.posts li img,.woocommerce div.product form.cart .button,.woocommerce-page div.product form.cart .button{-webkit-transition:all .4s ease-in;-moz-transition:all .4s ease-in;-ms-transition:all .4s ease-in;-o-transition:all .4s ease-in;transition:all .4s ease-in}.button.wow,.wow{-webkit-transition:0;-moz-transition:0;-ms-transition:0;-o-transition:0;transition:0}a{text-decoration:none}img{max-width:100%;height:auto}.alignleft{display:inline;margin-right:17px}.alignright{display:inline;margin-left:17px}.aligncenter{clear:both;display:block;margin:0 auto}.comment-content img.wp-smiley,.entry-content img.wp-smiley,.page-content img.wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}.wp-caption{margin-bottom:15px;margin-top:5px;max-width:99.5%}.wp-caption img[class*=wp-image-]{display:block;margin:3px auto 0;max-width:99%}.wp-caption-text{text-align:center}.wp-caption .wp-caption-text{padding:1px 0;font-size:13px}img[class*=wp-image-]{margin-top:8px;margin-bottom:10px}.size-auto,.size-full,.size-large,.size-medium,.size-thumbnail{height:auto;max-width:100%}.post-content ul li{list-style:disc;list-style-position:outside}.post-content ol li{list-style:decimal;list-style-position:outside}.post-content ol,.post-content ul{margin:20px 0 20px 10px}.post-content ol li,.post-content ul li{margin:0 0 8px 8px}body.rtl .post-content ol li,body.rtl .post-content ul li{margin:0 17px 8px 0} 