/*   
Theme Name: Invention
Theme URI: http://themes.jozoor.com/?theme=Invention-WP
Description: Invention Theme corporate, portfolio and business websites, responsive and clean layout, more than color skins, Fully Customizable, Comprehensive Theme Options and more..
Author: Jozoor Team
Author URI: http://www.jozoor.com
Version: 1.1
*/

/*
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =   
=     00   00 00 00   00 00 00   00 00 00   00 00 00   00 00  =
=     00   00    00        00    00    00   00    00   00     =
=     00   00    00      00      00    00   00    00   00     =  
=     00   00    00    00        00    00   00    00   00     =
=  00 00   00 00 00   00 00 00   00 00 00   00 00 00   00     =
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
= = = = = = Thanks for watching our source code :)  = = = = = =
*/

body.crossed {
    background: url(../bg/crossed.jpg) repeat;
}
body.fabric {
    background: url(../bg/fabric.jpg) repeat;
}
body.linen {
    background: url(../bg/linen.jpg) repeat;
}
body.diagmonds {
    background: url(../bg/diagmonds.jpg) repeat;
}
body.triangles {
    background: url(../bg/triangles.jpg) repeat;
}
body.black_mamba {
    background: url(../bg/black_mamba.jpg) repeat;
}
body.vichy {
    background: url(../bg/vichy.jpg) repeat;
}
body.back_pattern {
    background: url(../bg/back_pattern.jpg) repeat;
}
body.checkered_pattern {
    background: url(../bg/checkered_pattern.jpg) repeat;
}
body.diamond_upholstery {
    background: url(../bg/diamond_upholstery.jpg) repeat;
}
body.lyonnette {
    background: url(../bg/lyonnette.jpg) repeat;
}
body.graphy {
    background: url(../bg/graphy.jpg) repeat;
}
body.black_thread {
    background: url(../bg/black_thread.jpg) repeat;
}
body.subtlenet2 {
    background: url(../bg/subtlenet2.jpg) repeat;
}
#wrap.boxed {
    max-width: 1000px;
	width: 100%;
    margin: 25px auto;
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
    z-index: 99;
}
#wrap.boxed header.fixed .sticky-wrapper.is-sticky .down-header,
#wrap.boxed header.fixed .sticky-wrapper.is-sticky .main-header {
    width: 100%;
}
.hidden {
    display: block;
}
#wrap.boxed .top-bar,
body.under-construction header {
    border-radius: 3px 3px 0 0;
}
#wrap.boxed .footer-down {
    border-radius: 0 0 3px 3px;
}
