
/* Admin styles
/*-----------------------------------------------------------------------------------*/ 
#of_container a, #of_container button, #of_container button#of_save {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in;  
    -moz-transition: all 0.3s ease-in;  
    -ms-transition: all 0.3s ease-in;  
    -o-transition: all 0.3s ease-in;  
    transition: all 0.3s ease-in;    
}

#of_container .slide_body_social label {
    font-weight: bold;
}

#of_container .slide_body_social small {
    font-size: 11px;
    font-weight: normal;
}

#of_container a.color {
    color:#E64237 ;
}

li.bottom {
    margin-bottom: 10px;
}

#of_container a.color:hover {
    color:#333 ;
}

.updated, .error {
	display:none!important
} /* disable the admin notices */

#of_container {
	margin: 35px auto;
	width: 940px;
	position:relative;
	z-index: 0;
}

#of_container #header {
	height: 90px;
	background:#282828;
	border-radius: 4px 4px 0 0;
}



#of_container #header .logo {
	float: left;
	margin:25px 15px 11px 20px;
}

#of_container #header .links {
    float: right;
    margin: 26px 17px 1px 1px;
}

#of_container #header .links li{
    float: left;
    margin-left:7px;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
}

#of_container #header .links li a{
    padding: 11px 17px 11px 12px;
    color: #fff;
    border-radius:3px;
    display: inline-block;
    background: #343434;
}

#of_container #header .links li a:hover, #of_container #header .links li a.active{
    background: #E64237;
}

#of_container #header .links li .home{
    background:url("../images/home.png") no-repeat ;
    width: 16px;
    height: 15px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 3px;
}

#of_container #header .links li .docs{
    background:url("../images/docs.png") no-repeat ;
    width: 13px;
    height: 15px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 4px;
}

#of_container #header .links li .support{
    background: url("../images/support.png") no-repeat ;
    width: 16px;
    height: 15px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 7px;
}

#of_container #js-warning {
    color: red;
    float: left;
    margin: 20px 10px;
    width: 330px;
}

#of_container ul,#of_container ol {margin: 0;}
.js #of_container #js-warning {
 display: none;
 }

#of_container #header .logo h2 {
	display:inline-block;
	font-style:normal;
	padding-right:5px;
}

#of_container #header .logo span {
	color:#888888;
}

#of_container #header .icon-option {
	float: right;
	height: 32px;
	width: 32px;
	background: url(../images/icon_option.png) no-repeat;
	margin:20px 30px 0;
}

#of_container #info_bar {
	background: #F7F7F7;
    background-image: -ms-linear-gradient(top,#ffffff,#fafafa);
	background-image: -moz-linear-gradient(top,#ffffff,#fafafa);
	background-image: -o-linear-gradient(top,#ffffff,#fafafa);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#fafafa));
	background-image: -webkit-linear-gradient(top,#ffffff,#fafafa);
	background-image: linear-gradient(top,#ffffff,#fafafa);
	border:solid #d8d8d8;
	border-bottom:1px solid #D8D8D8;
	border-width:0px 1px 1px 1px;
	padding:18px 15px 15px 15px;
	height: 41px;
	text-align: right;
	-moz-box-shadow: inset 0 1px 0 #fcfcfc;
	-webkit-box-shadow: inset 0 1px 0 #fcfcfc;
	box-shadow: inset 0 1px 0 #fcfcfc;
}

#of_container #info_bar h2{
    float: left;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    margin-top: 7px;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
    font-style: normal;
}

#of_container #info_bar h2 span{
    /*color: #F22258 ;*/
    font-size: 16px;
}

#of_container #info_bar h2 img{
    vertical-align: middle;
    margin: -5px 3px 0 0;
}

#of_container #expand_options{
cursor: pointer;
display: block;
padding: 9px 17px;
float: right;
font-size:0px;
text-indent: -9999px;
margin: 0 3px 0 10px;
border: 1px solid #bbb;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}

#of_container  #info_bar .expand { background:#fafafa url(../images/expand.png) no-repeat; background-position: 50% 48%; }
#of_container #info_bar .close { background:#fafafa url(../images/close.png) no-repeat ; background-position: 50% 48%; }
#of_container #expand_options:hover {
	cursor: pointer;
	border-color: #959595;
}

#of_container #main {
	background-color: #efefef;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
}

#of_container #of-nav {
	float: left;
	position: relative;
	z-index: 9999;
	width: 210px;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
    font-style: normal;
}

#of_container #of-nav ul {
	margin:0;
}

#of_container #of-nav li {
	margin-bottom:0;
	-moz-box-shadow: inset 0 1px 0 #f9f9f9;
	-webkit-box-shadow: inset 0 1px 0 #f9f9f9;
	box-shadow: inset 0 1px 0 #f9f9f9;
	margin-right: 1px;
	border-bottom: 1px solid #d8d8d8;
}

#of_container #of-nav li:last-child {
	-moz-box-shadow: inset 0 1px 0 #f9f9f9, 0 1px 0 #f9f9f9;
	-webkit-box-shadow: inset 0 1px 0 #f9f9f9, 0 1px 0 #f9f9f9;
	box-shadow: inset 0 1px 0 #f9f9f9, 0 1px 0 #f9f9f9;
}

#of_container #of-nav li.current {
	margin-right: 0;
}

#of_container #of-nav li a, #of_container #of-nav ul li a:link, #of-nav ul li a:visited {
	display: block;
	padding: 14px 10px 14px 45px;
	background-repeat: no-repeat;
	background-position: 12px 12px;
	font-weight:700;
	font-size: 13px;
	text-decoration: none;
	color: #525151;
	opacity: 0.8;
    border-left: 3px solid #efefef;
    text-shadow:1px 1px 1px #fff;
}

#of_container #of-nav ul li.current a {
	background-color: #ffffff;
	color: #636262;
	opacity: 1;
    border-left: 3px solid #E64237;
}

#of_container #of-nav ul li a:hover {
	color: #636262;
	opacity: 1;
}



#of_container #content {
	float: left;
	min-height: 700px;
	width: 700px;
	margin-left: -1px;
	padding: 0 14px;
	font-family: "Lucida Grande", Sans-serif;
	background-color: #ffffff;
	border-left: 1px solid #d8d8d8;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
}

#of_container #content .section {
	margin-bottom: 10px;
	overflow : hidden;
}

#of_container #content .section h3.heading {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
    font-style: normal;
	margin: 10px 0 20px 0;
	padding: 6px 0px 12px 0px;
	border-bottom: 1px solid #e7e7e7;
    color: #656565;
    font-size: 15px;
}

#of_container #content .section .controls {
	float: left;
	width: 480px;
	margin: 0 15px 0 0;
}

#of_container #content .section .explain {
	float: left;
	width: 195px;
	padding: 0 10px 0 0;
	font-size: 11px;
	color: #999999;
}

#of_container #content .section-switch .controls {
	width:250px
}

#of_container #content .section-multicheck .controls input.checkbox {
	margin-top:9px;
}

#of_container #content .section-switch .explain {
	width:425px;
}

#of_container #content .section-color .controls {
	/*width:105px */
}

#of_container #content .section-color .explain {
	/* width:440px */
}

#of_container #content .section-info h3.heading {
	display:none;
}

#of_container #content .section-info .controls {
	margin: 20px 0 0;
	float:none;
	width: auto;
}

#of_container #content .section-info .controls .of-info{
	padding: 15px 10px;
	line-height: 1.5em;
	font-size: 12px;
	background-color: #EFF9FF;
	border: 1px solid #D6F0FF;
	color:#777;
    border-radius:2px;
}

#of_container #content .section-info .controls .of-info ._icon { 
	height:16px; width:16px;
	margin: 0 10px 0 0;
	float: left;
}

#of_container #content .section-info .controls small {
	font-size: 12px
}

#of_container #content .section-info h3.heading {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

#of_container #content .section-info .controls {
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

#of_container .sorter {margin-right: -20px;}

#of_container .sorter ul {
	background: #F9F9F9;
	border: 1px dashed #E3E3E3;
	min-height: 40px;
	padding: 10px 10px 0;
	width: 210px;
	float: left;
	margin: 0 15px 0 0;
}

#of_container  .sorter ul h3 {
	margin: 0 0 10px;
	text-align: center;
	color: #777;
	text-transform: capitalize;
}

#of_container  .sorter ul li {
	border: 1px solid #DFDFDF;
	cursor: move;
	font-weight: bold;
	margin-bottom:10px;
	padding:0 10px;
	height: 40px;
	line-height: 40px;
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top,#f9f9f9,#ececec);
	background-image: -moz-linear-gradient(top,#f9f9f9,#ececec);
	background-image: -o-linear-gradient(top,#f9f9f9,#ececec);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#ececec));
	background-image: -webkit-linear-gradient(top,#f9f9f9,#ececec);
	background-image: linear-gradient(top,#f9f9f9,#ececec);
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
	text-align:center;
}


#of_container #content .section-sorter li.placeholder {
	background:#f9f9f9;
	border-width:1px;
	border-style:dashed;
	height:40px;}
	
#of_container #content .section-slider li.placeholder, #of_container #content .section-social li.placeholder {
	background:#f9f9f9;
	border-width:1px;
	border-style:dashed;
	height:33px;}


#of_container textarea, #of_container input, #of_container select, #of_container button{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-style:solid;
	border-width:1px;
}

#of_container .controls input, #of_container .controls select, #of_container .controls textarea {
	margin-bottom: 9px !important;
	background-color: #f1f1f1;
	border: 1px solid;
	border-color: #ccc #e6e6e6 #e6e6e6 #ccc;
	width: 340px;
	padding: 8px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 12px;
}

#of_container .controls input:hover, #of_container .controls textarea:hover {
	background-color: #f9f9f9;
}


#of_container .controls input:focus, #of_container .controls textarea:focus { 
	background-color: #fff;
	border-color: #ccc #e6e6e6 #e6e6e6 #ccc;
	outline:0;
}

#custom_css_code, #tablets_landscape_custom_css_code, #tablets_portrait_custom_css_code, #mobiles_landscape_custom_css_code, #mobiles_portrait_custom_css_code {
    background:url("../images/notepad.png") repeat-y !important ;
    min-height: 295px;
    line-height: 20px;
    padding-left: 22px !important;
    color: #E64237;
    font-size: 13px !important;
}

#of_container .controls .upload {
	width: 95%;
}


#of_container .controls select {
	height: 28px;
	padding: 4px 5px;
	width: 99%
}

#of_container .controls textarea {
	width: 99%;
}

#of_container input[type=text] {
	width: 99%;
}

#of_container input.checkbox {
	width: 30px;
	margin-top:3px;
    display:none; /* new code for wp3.8 */
}

#of_container input.of-radio {
	width: 30px;
}

label.radio {
  position: relative;
  bottom: 0;
}

label.multicheck {
  position: relative;
  bottom: -7px;
}

#of_container .controls .input-text-small {
	width: 60px;
	margin-right:10px
}

#of_container .meta-two {
	margin-right:10px
}

#of_container .controls .of-color {
	float:left;
	width: 70px;
	margin-left:5px; /* font-size:20px; height:34px;*/
    padding: 4px;
}

#of_container #content .section-typography .controls {
	/* width:440px */
}

#of_container #content .section-typography .explain {
	width:130px
}

#of_container .controls .of-typography-size {
	width:70px;
	float:left
}

#of_container .controls .of-typography-unit {
	width:60px;
	float:left
}

#of_container .controls .of-typography-face {
	width:145px;
	float:left
}

#of_container .controls .of-typography-style {
	width:95px;
	float:left
}

#of_container .controls .of-radio-img-img {
	border:3px solid #fff;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
    opacity:.85;
}

#of_container .controls .of-radio-img-selected {
	border:3px solid #71a618;
    opacity:1;
}

#of_container .controls .of-radio-img-img:hover {
	opacity:1;
}

#of_container .controls .of-radio-tile-img {
	width:49px;
	height:49px;
	border:3px solid #f9f9f9;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
}

#of_container .controls .of-radio-tile-selected {
	border:3px solid #71a618;
    opacity:.9;
}

#of_container .controls .of-radio-tile-img:hover {
	opacity:.9;
}

#of_container .controls .of-border-width {
	width:70px;
	float:left
}

#of_container .controls .of-border-style {
	width:95px;
	float:left
}

#of_container .group {
	display:none;
	padding-bottom:20px;
}

#of_container .group h2 {
	display:none;
	border-bottom:3px solid #e7e7e7;
    background: #333;
    margin: 16px 0 0 0;
    color: #fff;
    padding: 10px;
    font-size: 21px;
    text-shadow: none;
    border-radius: 2px;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
    font-style: normal;
}

#of_container .controls input:focus, #of_container select:focus, #of_container textarea:focus {
	background:#fff;
}

#of_container .accept {
	background: #DBF6BE no-repeat 10px center;
	border: solid #9BBF65;
	border-width: 0px 1px 1px 1px;
	color: #060;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

#of_container .warning {
	background: #ffeeee no-repeat 10px center;
	;
	border: solid #dfbfbf;
	border-width: 0px 1px 1px 1px;
	color: #333;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

#of_container .update_available {
	background: #FFFEEB no-repeat 10px center;
	border: solid #CCCCCC;
	border-width: 0px 1px 1px 1px;
	color: #333;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

#of_container .of-save-popup {
	position:absolute;
	background:rgba(0, 0, 0, 0.5);
	color:#fff;
	font-size:24px;
	text-align:center;
	display:none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#of_container .of-save-popup div{
	background-repeat: no-repeat;
	background-position: 20px 50%;
	padding:30px 30px 30px 60px;
}

#of_container .of-save-save {
	background-image: url(../images/button_check.png);
}

#of_container .of-save-reset {
	background-image: url(../images/sign_warning.png);
}

#of_container .of-save-fail {
	background-image:url(../images/stop.png);
}

#of_container .accept,
#of_container .warning,
#of_container .update_available,
#of_container .of-save-popup {
	z-index: 9999;
}

#of_container .upload_button_div {
	margin-top:15px;
	margin-bottom: 22px;
}

#of_container .button {
border-width: 1px;
border-style: solid;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
border-color: #dfdfdf;
background-color: #fff;
margin:4px 0 4px;
}


#of_container .button:hover,#of_container .button_hover {
border-color: #bbb;
color: #464646;
}

#of_container .button_active {
    background:#eee url(../../images/white-grad-active.png) repeat-x scroll left top;
}

#of_container .upload_button_div .button {
	padding:9px 14px;
}
#of_container .remove-image, #of_container .mlu_remove_button {
	margin-left:10px;
	color:#ef521d;
}

#of_container .image_reset_button:hover, #of_container .mlu_remove_button:hover {
	color:red;
}

#of_container .upload-error {
	float:left;
	color:#666;
	font-size:10px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0 #FFFFFF;
	margin: 0 10px 0 0;
	padding:3px 10px;
	background:#FFDFEC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#of_container .reset-button {
	font-family:Arial,Verdana,sans-serif;
	float:left;
    padding: 0 15px;
	line-height: 21px;
    background: #E64237;
	border:1px solid #c81443 !important;
    color: #fff;
    font-size: 14px !important;
    font-weight: 700;
    text-shadow:none;
    margin-top: 0;
    box-shadow:0 !important; /* new code for wp3.8 */
    border:0 !important; /* new code for wp3.8 */
    -webkit-box-shadow: 0 !important; /* new code for wp3.8 */
}

#of_container .reset-button:hover { 
    border:1px solid #c81443 !important;
    background: #da2b1f;
    color: #fff;
    box-shadow:0 !important; /* new code for wp3.8 */
    border:0 !important; /* new code for wp3.8 */
}

#of_container .slide_add_button,  #of_container .slide_add_button_social { float:right; margin-top:10px;/*padding: 7px 10px;*/font-weight: bold; }


#of_container .save_bar {
	background: #F7F7F7;
	border:solid #ccc;
	border-width:0px 1px 1px 1px;
	padding: 20px 15px;
	height: 38px;
	text-align: right;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
}

#of_save {
	font-family: Arial,Verdana,sans-serif;
	padding: 7px 15px;
	line-height: 21px;
	float:right;
    background: #343434;
	border:1px solid #272727 !important;
    color: #fff;
    font-size: 14px !important;
    font-weight: 700;
    margin-top: 0;
    cursor: pointer;
    
}

#of_save:hover {
	border:1px solid #272727 !important;
    background: #474646;
}

#of_container .hide {
	display:none
}

#of_container .ajax-loading-img-top {
	margin: 7px 7px 0;
	float:left
}

#of_container .ajax-loading-img-bottom {
	margin: 7px 7px 0;
}

#of_container .ajax-reset-loading-img {
	display: block;
	margin-left: 140px;
}

#of_container .screenshot { 
	max-width:340px;
	margin-bottom:9px;
}

#of_container .of-uploaded-image {
	
}

#of_container .of-option-image {
	max-width: 441px;
    /*max-height: 250px;*/
	padding: 5px;
	border:1px solid #e3e3e3;
	background:#f7f7f7;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#of_container .select_wrapper {
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
font-size: 12px;
background: #F1F1F1 url(../images/select.png) no-repeat right center;
border-color: #CCC #E6E6E6 #E6E6E6 #CCC;;
border-style: solid;
border-width: 1px;
float: left;
height: 30px;
width: 344px;
margin: 0;
margin-bottom: 9px !important;
width: 340px;
display: block;
color: #888;
position:relative;
}

#of_container .select_wrapper:hover {background-color:#f9f9f9;}

#of_container .mini .controls select, #of_container #content .section .mini .controls, #of_container  .controls .typography-size, #of_container  .controls .border-width,#of_container  .controls .mini,#of_container .mini .controls input, #of_container #content .mini .controls, #of_container .controls .typography-height {width: 70px;}
#of_container  .controls .typography-face {width: 145px;}
#of_container  .controls .typography-style, #of_container  .controls .border-style {width: 95px;}
#of_container  .controls .typography-size,#of_container  .controls .typography-face,#of_container  .controls .typography-style, #of_container  .controls .border-width, #of_container  .controls .border-style, #of_container .controls .typography-height {margin-right:5px;}

#of_container #content .mini .explain {
	width:500px;
}

#of_container .of-notice {
	background: #ffd1d1;
	border:1px solid #DFDFDF;
	-moz-border-radius:8px;
	text-align: center;
	margin-bottom: 15px
}

#of_container .slider li, #of_container .social li {
	/* width: 345px; */
	border: 1px solid #dfdfdf;
	background:#f9f9f9;
	overflow:hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
}

#of_container .slide_header, #of_container .slide_header_social {
	cursor:move;
	height:32px;
	padding-left:10px;
	padding-right:20px;
	line-height:32px;
	background-color: #F1F1F1;
	margin: 1px 0 -1px 0;
	border-bottom: 1px solid #dfdfdf;
	background-image: -ms-linear-gradient(top,#f9f9f9,#ececec);
	background-image: -moz-linear-gradient(top,#f9f9f9,#ececec);
	background-image: -o-linear-gradient(top,#f9f9f9,#ececec);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#ececec));
	background-image: -webkit-linear-gradient(top,#f9f9f9,#ececec);
	background-image: linear-gradient(top,#f9f9f9,#ececec);
	overflow:hidden;
	position: relative;
}

#of_container .slide_body, #of_container .slide_body_social {
	display:none;
	padding:10px 10px 10px 11px;
}

#of_container .slide_body label, #of_container .slide_body_social label{
    margin: 10px 0 7px 0;
    display: block;
}


#of_container .slider2 li input,#of_container .slider2 li .screenshot,#of_container .slider2 li .of-option-image {
	width:95%/*311px*/;
}

#of_container .slider2 li textarea {
    width:98%/*311px*/;
}

#of_container a.slide_edit_button, #of_container a.slide_delete_button, #of_container a.slide_edit_button_social, #of_container a.slide_delete_button_social {
	text-indent:-9999px;
	font-size:0;
    -webkit-transition: 0;  
    -moz-transition: 0;  
    -ms-transition: 0;  
    -o-transition: 0;  
    transition: 0;   
}

#of_container .slide_header  a.slide_edit_button, #of_container .slide_header_social  a.slide_edit_button_social{
	position: absolute;
	right: 49px;
	top: 3px;
	background:#2A8FBD url(../images/edit.png) no-repeat;
	padding: 0;
	width: 30px;
	height: 25px;
	text-align: center;
	border-radius: 2px;
    background-position: 50% 50%;
}

#of_container .slide_header.active  a.slide_edit_button, #of_container .slide_header_social.active  a.slide_edit_button_social {
	position: absolute;
	right: 49px;
	top: 3px;
	background:#2A8FBD url(../images/okay.png) no-repeat;
	padding: 0;
	width: 30px;
	height: 25px;
	text-align: center;
	border-radius: 2px;
    background-position: 50% 50%;
}
	/*#of_container a:hover.slide_edit_button {
	background: url(../images/dropdown-arrow.png) no-repeat 9px 11px;}*/
	
#of_container a.slide_delete_button, #of_container a.slide_delete_button_social { 
	position: absolute;
	right: 10px;
	top: 3px;
	background:#B10606 url(../images/delete.png) no-repeat;
	padding: 0;
	width: 30px;
	height: 25px;
	text-align: center;
	border-radius: 2px;
    background-position: 50% 50%;
}

#of_container .select_wrapper span {
height: 26px;
line-height: 30px;
z-index: 2;
padding-left: 6px;
position:absolute;
left:0;
}

#of_container .select_wrapper .select {
cursor: pointer;
height: 28px;
margin: 0;
-moz-opacity: 0;
filter: alpha(opacity: 0);
opacity: 0;
padding: 0;
position: relative;
width: inherit;
z-index: 4;	
}

#of_backup {
	margin: 40px 20px;
	width: 600px;
}

#of_backup textarea {
	margin-bottom: 9px !important;
	background-color: #F1F1F1;
	border: 1px solid;
	width: 100%;
	padding: 4px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 12px;
	border-color: #CCC #E6E6E6 #E6E6E6 #CCC;
}

#of_container #content .section-backup .controls { width: 80%}
#of_container #content .section-backup .explain {
    display:none
}

#of_container #content .section-backup .backup-box {
    margin: 0 0 20px;
}

#of_container #content .section-backup .instructions {
    margin: 0 0 10px;
    color: #777;
}
#of_container #content .section-backup .button, #of_container #content .section-transfer .button {
    /*padding: 7px 11px;*/
    margin: 0 25px 0 0;
    line-height: 30px;
    height: 30px;
}

.temphide {display:none;}
/*-------------------------------------------------------------------------------------------*/
/* GENERAL STYLES */
/*-------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

html body * span.clear, html body * div.clear, html body * li.clear, html body * dd.clear {
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}


/*-------------------------------------------------------------------------------------------*/
/* Tipsy
/*-------------------------------------------------------------------------------------------*/
.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

  /* Rounded corners */
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
  
  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
  
  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  
  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }
  
	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }
  
  
  /*-------------------------------------------------------------------------------------------*/
/* Switch
/*-------------------------------------------------------------------------------------------*/
p.switch-options{ margin: 0; }
.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: url(../images/switch.gif) repeat-x; display: block; float: left; }
	.cb-enable span, .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
	.cb-enable span { background-position: left -90px; padding: 0 10px; }
	.cb-disable span { background-position: right -180px;padding: 0 10px; }
	.cb-disable.selected { background-position: 0 -30px; }
	.cb-disable.selected span { background-position: right -210px; color: #fff; }
	.cb-enable.selected { background-position: 0 -60px; }
	.cb-enable.selected span { background-position: left -150px; color: #fff; }
	.switch-options label { cursor: pointer; font-size: 14px; text-transform: uppercase; }
	.switch-options input { display: none; }
	.cb-enable span, .cb-disable span{
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}/*disable text selection*/
    
    
.selectnav { 
    display: none; 
}   




/* new code */
span.new-updates-url {
    padding: 5px 8px;
    border-radius:5px;
    background-color: lightYellow;
    border: 1px solid #E6DB55;
    font-size: 13px !important;
    font-weight: normal;
    vertical-align: middle;
}

span.new-updates-url a{
    color: #E64237;
}

span.new-updates-url a:hover{
    color: #333;
}

/* new codes for wp 3.5 */
#of_container .reset-button, #of_container .upload_button_div .button  { 
    height: 37px;
    line-height:20px;
}

#of_container .upload_button_div .button.media_upload_button, #of_container .upload_button_div .button.remove-image  {
    display:inline;
}

/*-------------------------------------------------------------------------------------------*/
/* Color picker overwrite
/*-------------------------------------------------------------------------------------------*/
#of_container .controls .wp-picker-container input.button{
	width: auto;
	height: auto;
	line-height: 1.5;
	padding: 2px 8px;
	margin: 6px 6px 6px 6px;
}
#of_container .controls .of-color {
	float: left;
	width: 70px;
	margin-left: 5px;
	margin-top: 6px;
	padding: 3px;
}
#of_container .controls .wp-color-result.wp-picker-open {
top: -3px;
}
#of_container #content .section-color .controls {
width: 345px;
}
#of_container #content .section-color .explain {
width: 225px;
}
#of_container #content .iris-picker .iris-strip .ui-slider-handle {
	position: absolute;
	background: none!important;
	right: -3px;
	left: -3px;
	border: 4px solid #aaa!important;
	border-width: 4px 3px;
	width: auto;
	height: 6px;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	opacity: .9;
	z-index: 5;
	cursor: ns-resize;
}
#of_container #content .iris-picker .iris-slider-offset {
	position: absolute;
	top: 3px;
	left: 0;
	right: 0;
	bottom: 6px;
	width: 28px;
	background: none!important;
	border: 0!important;
	height: auto;
}
#of_container .controls .wp-picker-container .wp-color-result { outline: 0; }

a.wp-color-result, .ui-slider .ui-slider-handle.ui-corner-all, #of_container #content .iris-picker .iris-strip .ui-slider-handle, .iris-picker .iris-square-value {
    -webkit-transition: 0 !important;  
    -moz-transition: 0 !important; 
    -ms-transition: 0 !important;  
    -o-transition: 0 !important;  
    transition: 0 !important;    
}

#of_container .sorter ul#homepage_blocks_enabled {
    background: #DFFFDF;
    border: 1px dashed #3A8837;
}

#of_container .sorter ul#homepage_blocks_disabled {
    background: #FFDBDB;
    border: 1px dashed #C70606;
}

#of_container .sorter ul h3 {
    color: #494949;
}

/* new code */
#section-header_layout .explain {
    display: none;
}

#section-header_layout .controls {
    width: 100% !important;
    margin: 0 !important;
}

#section-header_layout .of-radio-img-img {
    width: 97.5% !important;
    margin: 0 0 10px 0 !important;
    /* min-height: 75px; */
    opacity:1 !important;
    border: 3px solid #DADADA !important;
    padding: 5px;
}

#section-header_layout .of-radio-img-selected {
   border: 3px solid #71a618 !important;
}

p.google_font_preview {
    padding: 20px 20px 25px;
    background-color: #F7F7F7;
    border: 1px dashed #CCC;
    color: #333;
}

/* new code */
#of_container #content .section-info .controls .of-info h3 small {
    color: #777 !important;
}

#of_container .slide_body_social input.of-slider-name {
    display: none !important;
}

/* RTL styles */
body.rtl .section-social .social, body.rtl #of_container #info_bar h2, input#under_cons_timer, textarea#under_cons_subscribe, textarea#under_cons_footer_text, textarea#page404_message, textarea#custom_codes_header, textarea#custom_codes_footer, textarea#header_layout3_right_custom_content, textarea#custom_content_top_header, textarea#custom_content_bottom_header, textarea#footer_text, textarea#custom_content_top_footer, textarea#custom_content_bottom_footer, textarea#custom_css_code, textarea#tablets_landscape_custom_css_code, textarea#tablets_portrait_custom_css_code, textarea#mobiles_landscape_custom_css_code, textarea#mobiles_portrait_custom_css_code {
    direction: ltr;
}
 
/* Media Queries
================================================== */

/* Smaller than standard 1024px (devices and browsers) */
@media only screen and (max-width: 1024px) {

#of_container {
	margin: 35px 0 35px 0px;
    width: 98%;
}	

#of_container #of-nav {
    width: 100% !important;
}

#of_container #of-nav li {
    box-shadow: inset 0 1px 0 #F9F9F9;
    margin-right: 0;
    border-right: 1px solid #D8D8D8;
    float: left;
    width: 24.85% !important;
}

#of_container #content {
    width: 96.4% !important;
}

/*  new codes */
#of_container #info_bar {
    height: 81px;
    position: relative;
}

span.new-updates-url {
   padding: 0 8px; 
   position: absolute;
   top: 69px;
   left: 15px;
   width: 94%;
   text-align: center;
}


}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

#of_container {
	margin: 35px 0 35px 0px;
    width: 98%;
}	

#of_container #of-nav {
    width: 100% !important;
}

#of_container #of-nav li {
    box-shadow: inset 0 1px 0 #F9F9F9;
    margin-right: 0;
    border-right: 1px solid #D8D8D8;
    float: left;
    width: 24.85% !important;
}

#of_container #content {
    width: 96.16% !important;
}

/*  new codes */
#of_container #info_bar {
    height: 81px;
    position: relative;
}

span.new-updates-url {
   padding: 0 8px; 
   position: absolute;
   top: 69px;
   left: 15px;
   width: 93%;
   text-align: center;
}	

}



/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	
#of_container {
	margin: 35px 0 35px 0px;
    width: 98%;
}	

#of_container #of-nav {
    width: 100% !important;
}

#of_container #of-nav li {
    box-shadow: inset 0 1px 0 #F9F9F9;
    margin-right: 0;
    border-right: 1px solid #D8D8D8;
    float: left;
    width: 24.85% !important;
}

#of_container #content {
    width: 96.16% !important;
}

/*  new codes */
#of_container #info_bar {
    height: 134px !important;
    position: relative;
}

span.new-updates-url {
   padding: 0 8px; 
   position: absolute;
   top: 125px;
   left: 15px;
   width: 93%;
   text-align: center;
}	
	
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
#of_container {
	margin: 35px 0 35px 0px;
    width: 98%;
}	

#of_container #of-nav {
    width: 100% !important;
}

#of_container #of-nav li {
    box-shadow: inset 0 1px 0 #F9F9F9;
    margin-right: 0;
    border-right: 1px solid #D8D8D8;
    float: left;
    width: 33.18% !important;
}

#of_container #content {
    width: 95.3% !important;
}

#of_container #content .section .controls {
    width: 100% !important;
}

#of_container #content .section .explain {
    width: 100% !important;
    color: #E70633;
    margin: 5px 0;
}

.js #nav { 
    display: none; 
}

.js .selectnav { 
	display: block;
    width: 48%;
    margin: 31px 21px 10px 5px;
    cursor: pointer;
    float: right;
    height: 35px;
    padding: 5px;
    font-size: 15px;
    border: 1px solid #111;
    background: #FAFAFA;
    color: #4B4A4A;
}



#of_container #header {
    height: auto !important;
    min-height: 95px;
}



#of_container #info_bar, #of_container .save_bar {
    height: auto;
    overflow: hidden;
}

#of_container #info_bar h2 {
    width: 83%;
    text-align: left;
    margin-bottom: 20px;
}

#of_container #expand_options {
    margin-top: 5px;
}

button#of_save, #of_container .reset-button {
    width: 100%;
    margin-bottom: 5px;
}

#of_container #content .section-info .controls .of-info {
    width: 92%;
}

.slider, .social {
    width: 100% !important;
    margin-bottom: 15px;
}

#of_container .controls .upload {
    width: 93%;
}

img {
max-width: 100% !important;
height: auto;
}

#of_container .screenshot {
    max-width: 283px;
}

#of_container .sorter ul {
    width: 86%;
    margin: 0 15px 10px 0;
}

/*  new codes */
#of_container #info_bar {
    height: 134px !important;
    position: relative;
}

span.new-updates-url {
   padding: 0 8px; 
   position: absolute;
   top: 125px;
   left: 15px;
   width: 92%;
   text-align: center;
}	

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {



#of_container {
	margin: 35px 0 35px 0px;
    width: 328px;
}	

#of_container #of-nav {
    width: 100% !important;
}

#of_container #of-nav li {
    box-shadow: inset 0 1px 0 #F9F9F9;
    margin-right: 0;
    border-right: 1px solid #D8D8D8;
    float: left;
    width: 33% !important;
}

#of_container #content {
    width: 91.4% !important;
}

#of_container #content .section .controls {
    width: 100% !important;
}

#of_container #content .section .explain {
    width: 100% !important;
    color: #E70633;
    margin: 5px 0;
}

.js #nav { 
    display: none; 
}

.js .selectnav { 
	display: block;
    width: 88%;
    margin: 13px 21px 20px 5px;
    cursor: pointer;
    float: right;
    height: 35px;
    padding: 5px;
    font-size: 15px;
    border: 1px solid #111;
    background: #FAFAFA;
    color: #4B4A4A;
}

#of_container #header {
    height: auto !important;
}

#of_container #header .logo {
    margin: 20px 20% 5px 20%;
}

#of_container #info_bar, #of_container .save_bar {
    height: auto;
    overflow: hidden;
}

#of_container #info_bar h2 {
    width: 83%;
    text-align: left;
    margin-bottom: 20px;
}

#of_container #expand_options {
    margin-top: 5px;
}

button#of_save, #of_container .reset-button {
    width: 100%;
    margin-bottom: 5px;
}

#of_container #content .section-info .controls .of-info {
    width: 92%;
}

.slider, .social {
    width: 100% !important;
    margin-bottom: 15px;
}

#of_container .controls .upload {
    width: 93%;
}

img {
max-width: 100% !important;
height: auto;
}

#of_container .screenshot {
    max-width: 283px;
}

#of_container .sorter ul {
    width: 86%;
    margin: 0 15px 10px 0;
}

/*  new codes */
#of_container #info_bar {
    height: 195px !important;
    position: relative;
}

span.new-updates-url {
   padding: 0 8px; 
   position: absolute;
   top: 154px;
   left: 15px;
   width: 85%;
   text-align: center;
}	

}