/* thickbox style */
#TB_ajaxContent {
    max-width: 100% !important;
}

#TB_window {
    max-height: 70% !important;
    top: 15% !important;
    overflow-y: auto !important;
}

#TB_title {
    padding: 20px 10px;
    background-color: #E44E44 !important;
    color: #fff !important;
    font-size: 19px;
}

.tb-close-icon:before {
    color: #fff !important;
}

#TB_ajaxWindowTitle {
    padding: 0 10px 0 !important;
}

.tb-close-icon {
    /* margin: -6px -3px 0 0 !important; */
    top: 24px !important;
    right: 10px !important;
}



/* main style */
.s-7 { font-size: 7px; } .s-8 { font-size: 8px; } .s-9 { font-size: 9px; } .s-10 { font-size: 10px; }
.s-11 { font-size: 11px; } .s-12 { font-size: 12px; } .s-13 { font-size: 13px; } .s-14 { font-size: 14px; }
.s-15 { font-size: 15px; } .s-16 { font-size: 16px; } .s-17 { font-size: 17px; } .s-18 { font-size: 18px; }

#shortcode-generator {
    padding: 20px 0;
    max-width: 100%;
    direction: ltr;
}

#shortcode-generator .clear {
    clear: both;
}

#shortcode-generator .insert-shortcode {
    cursor: pointer;
    text-align: center;
    background-color: #1abc9c;
    padding: 10px 0;
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    font-size: 17px;
}

#shortcode-generator .insert-shortcode:hover {
    color: #fff;
    background-color: #12AD8F;
}

#shortcode-generator .content input[type="text"], #shortcode-generator textarea {
    width: 100%;
    color:#444;
    padding:5px 8px;
}

#shortcode-generator textarea {
    min-height:250px;
}

#shortcode-generator textarea.small-height {
    min-height:150px;
}

#shortcode-generator .content input[type="text"] {
    width: 99.5%;
    padding:8px 8px;
}

#shortcode-generator .content, #shortcode-generator .hidden-area {
    display: none;
}
    
#shortcode-generator .content {
    margin-top: 30px;
    overflow: hidden;
}
    
#shortcode-generator .content .option {
    padding-bottom: 20px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 20px;
    overflow: hidden;
}    
    
#shortcode-generator .content .option .label {
    float:left;
    width:22%;
    margin-right: 1%;
    font-weight: bold;
    font-size: 15px;
    color:#444;
}

#shortcode-generator .content .option .label.padding-top {
    padding-top: 12px;
    
}
    
#shortcode-generator .content .option .option-content {
    display: inline-block;
    width: 77%;
    margin-top: 4px;
    color: #727272;
}

#shortcode-generator .content .option .option-content small {
    font-size: 11px;
}

#shortcode-generator .content .option .option-content small.margin-top{
    display: inline-block;
    margin-top: 9px;
}

#shortcode-generator .content .option small.margin-bottom{
    display: inline-block;
    margin-bottom: 12px;
}

#shortcode-generator .content .option .option-content label {
    margin-right: 25px;
}

#shortcode-generator .content .option .desc {
    font-size: 15px;
    text-align: center;
    background: #FFF;
    color:#E44E44;
}

#shortcode-generator .option-content .label-group label i {
    margin-right: 7px;
}

#shortcode-generator .option-content .label-group {
    float: left;
    min-width: 180px;
    margin-bottom: 20px;
    margin-right: 10px;
}

#shortcode-generator .content .item-group {
    padding: 20px;
    background: #FFF;
    border: 1px solid #E5E5E5;
    margin-bottom: 10px;
    overflow: hidden;
}  
    
#shortcode-generator .add-new-group {
    cursor: pointer;
    text-align: center;
    background-color: #727272;
    padding: 10px 0;
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 17px;
}

#shortcode-generator .add-new-group:hover {
    color: #fff;
    background-color: #646464;
}
    
#shortcode-generator .remove-group {
    cursor: pointer;
    text-align: center;
    background-color: #E44E44;
    padding: 10px 0;
    width: 15%;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    float:right;
    margin-top: 20px;
}

#shortcode-generator .remove-group:hover {
    color: #fff;
    background-color: #E44035;
}

#shortcode-generator .content .item-group .option.last {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 5px;
}

#shortcode-generator #icons_list ul li, #shortcode-generator #social_icons_list ul li, #shortcode-generator #icon_boxes_icons_list ul li, #shortcode-generator #button_icons_list ul li {
    float:left;
    margin:0 !important;
    color: #444;
}

#shortcode-generator #icons_list ul li i, #shortcode-generator #social_icons_list ul li i, #shortcode-generator #icon_boxes_icons_list ul li i, #shortcode-generator #button_icons_list ul li i {
    width: 28px;
    height: 30px;
    display: inline-block;
    text-align: center;
    background: #FFF;
    margin: 0 2px 2px 0;
    cursor: pointer;
    line-height: 30px;
    font-size:15px;
    border:1px solid transparent;
}  

#shortcode-generator #social_icons_list ul li i {
    width: 29px;
    height: 31px;
    line-height: 31px;
    margin: 0 1px 2px 1px;
}
    
#shortcode-generator #icons_list ul li i:hover, #shortcode-generator #social_icons_list ul li i:hover, #shortcode-generator #icon_boxes_icons_list ul li i:hover, #shortcode-generator #button_icons_list ul li i:hover {
    -webkit-transform: scale(1.9); 
    -moz-transform: scale(1.9);
    -o-transform: scale(1.9);
    transform: scale(1.9);
    background: #F1F1F1;
}
    
#shortcode-generator #icons_list ul li.selected i, #shortcode-generator #social_icons_list ul li.selected i, #shortcode-generator #icon_boxes_icons_list ul li.selected i, #shortcode-generator #button_icons_list ul li.selected i {
    border:1px solid #E44E44;
}
    
#shortcode-generator #icon_boxes_icons_list ul, #shortcode-generator #button_icons_list ul {
    margin:0;
}
    
#shortcode-generator #icon_boxes_icons_list .content .option, #shortcode-generator #button_icons_list .content .option {
    overflow: initial;
}
    
#shortcode-generator .content #icon_boxes_icons_list .option-content, #shortcode-generator .content #button_icons_list .option-content {
   width: 100%;
   margin-top: 21px;
}
    
#shortcode-generator #icon_boxes_icons_list ul li i {
    background: #F1F1F1;
    width: 19px;
    height: 21px;
    line-height: 21px;
}
    
#shortcode-generator #icon_boxes_icons_list ul li i:hover, #shortcode-generator #icon_boxes_icons_list ul li.selected i {
   background: #FFF; 
}

#shortcode-generator #images_slider .group_container input[type="text"] {
    width:83%;
}
    
#shortcode-generator .upload-image {
    cursor: pointer;
    text-align: center;
    background-color: #E9E9E9;
    padding: 9px 0 10px 0;
    width: 15%;
    display: inline-block;
    color: #444;
    font-size: 14px;
    float: right;
    margin-top: 1px;
    border: 1px solid #DDD;
}

#shortcode-generator .upload-image:hover {
    background-color: #E4E4E4;
}  
    
#shortcode-generator .image_preview {
    margin-top:20px;
    position: relative;
    display:none;
    text-align: center;
}
    
#shortcode-generator .image_preview img {
    max-width: 100%;
    height: auto;
}
    
#shortcode-generator .remove-image {
    position:absolute;
    z-index:10;
    top:0;
    right:0;
    height:25px;
    width:25px;
    line-height:25px;
    text-align:center;
    background-color: #E9E9E9;
    color:#E44E44;
    font-size: 15px;
    cursor: pointer;
}

#shortcode-generator .upload-image-alt {
    display: none !important;
}

select.animation {
    margin: 4px 4px 5px 0;   
}