/*   
Theme Name: Invention Child
Theme URI: http://themes.jozoor.com/?theme=Invention-WP
Description: Invention Theme for corporate, portfolio and business websites, responsive and clean layout, more than color skins, Fully Customizable, Comprehensive Theme Options and more..
Author: Jozoor Team
Author URI: http://www.jozoor.com
Version: 1.2
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: Invention
*/
/*@import url("../Invention/css/style.css");*/
/* Import Basic Files
================================================== */
/*@import url("../Invention/css/font.css");
@import url("../Invention/css/base.css");
@import url("../Invention/css/font-awesome/css/font-awesome.min.css");
@import url("../Invention/css/fontello/css/fontello.css");
@import url("../Invention/css/skeleton.css");
@import url("../Invention/css/javascript.css");
@import url("../Invention/css/shortcodes.css");*/
@import url("../Invention/style.css");

.check-input_radio label {
    margin-bottom: 12px !important;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    position: relative;
}

.ui-datepicker .ui-datepicker-prev span::after, .ui-datepicker .ui-datepicker-next span::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background: coral;
    top: 4px;
    transform: rotate(45deg);
}

.ui-datepicker .ui-datepicker-prev span::after {
    left: 12px;
}

.ui-datepicker .ui-datepicker-next span::after {
    right: 12px;
}

.personal-area .competitions li {
    width: 25%;
}

.personal-area .competitions li:nth-of-type(4):before {
    content: attr(data-text);
    position: relative;
    font-size: 18px;
    font-weight: 400;
    color: #4b4c4d;
    padding-bottom: 15px;
    border-bottom: 1px solid #4b4c4d;
    display: block;
    margin-bottom: 15px;
    left: -5px;
    right: -5px;
    width: calc(100% + 10px);
    top: auto;
    height: auto;
    background: none;
}

.personal-area .competitions li:nth-of-type(3n+1) {
    border-left: 1px solid #4b4c4d;
}

.personal-area .competitions li:nth-of-type(4n+1) {
    border-left: none;
}

#wrap.boxed {

    margin: 165px auto 0 !important;
}

.blog-3 .item .image-post img, .tables-column .header h3 {
    margin: 0 auto;
    display: table;
}

.container {
    display: block !important;
}

.personal-area .input input.fileInput {
    width: 100%;
    height: 36px;
    border: none;
    padding: unset;
}

.gain-modal .close {
    position: absolute;
    border: none;
    background: transparent;
    color: #df3d28;
    right: 0;
    top: 0;
    font-weight: 700;
    font-size: 25px;
    transition: all .5s linear
}

.gain-modal .close:hover {
    color: #4b4c4d
}

.gain-modal h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
    font-family: Arial;
    clear: both
}

.gain-modal .input {
    max-width: 280px;
    margin: 0 auto 20px
}

.gain-modal .input input {
    width: 100%;
    height: 36px;
    border: 1px solid #4b4c4d;
    border-radius: 3px;
    padding: 0 15px
}

.gain-modal .input label {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 100;
    display: block;
    text-align: left
}

.gain-modal .input.radio-input {
    display: inline-block;
    text-align: left
}

.gain-modal .input.radio-input input[type=radio] {
    display: none
}

.gain-modal .input.radio-input input[type=radio]:checked + label:before {
    background: #df3d28
}

.gain-modal .input.radio-input label {
    position: relative;
    padding-left: 30px;
    cursor: pointer
}

.gain-modal .input.radio-input label:before {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #4b4c4d;
    box-shadow: inset 0 0 0 2px #f9f9f9;
    position: absolute;
    content: "";
    left: 0;
    top: -1px
}

.gain-modal .input.radio-input:nth-of-type(2) {
    margin-left: 30px
}

.gain-modal textarea {
    width: 100%;
    border: 1px solid #4b4c4d;
    border-radius: 3px;
    padding: 10px 15px
}

.gain-modal input[type=submit] {
    max-width: 220px;
    width: 100%;
    display: table;
    margin: 0 auto;
    border: none;
    height: 40px;
    text-align: center;
    background: #df3d28;
    font-weight: 400;
    color: #f9f9f9;
    font-size: 16px;
    border-radius: 3px;
    transition: all .5s linear
}

.gain-modal input[type=submit]:hover {
    background: #4b4c4d
}

.gain-modal .modal-content {
    border-radius: 0;
    box-shadow: none;
    border: none;
    border-top: 4px solid #df3d28;
    padding: 40px 30px;
    text-align: center
}

.js-calc-refback-button {
    max-width: 72px;
    width: 100%;
    float: right;
    margin: 0 auto;
    border: none;
    height: 35px;
    text-align: center;
    background: #df3d28;
    font-weight: 400;
    color: #f9f9f9;
    font-size: 10px;
    border-radius: 3px;
    transition: all .5s linear;
}

p, li {
    font-size: 17px;
    line-height: 26px;
}