/*   
Theme Name: Invention
Theme URI: http://themes.jozoor.com/?theme=Invention-WP
Description: Invention Theme corporate, portfolio and business websites, responsive and clean layout, more than color skins, Fully Customizable, Comprehensive Theme Options and more..
Author: Jozoor Team
Author URI: http://www.jozoor.com
Version: 1.1
*/

/*
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =   
=     00   00 00 00   00 00 00   00 00 00   00 00 00   00 00  =
=     00   00    00        00    00    00   00    00   00     =
=     00   00    00      00      00    00   00    00   00     =  
=     00   00    00    00        00    00   00    00   00     =
=  00 00   00 00 00   00 00 00   00 00 00   00 00 00   00     =
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
= = = = = = Thanks for watching our source code :)  = = = = = =
*/

.box{padding:15px}.colorTip{display:none;position:absolute;left:50%;top:-30px;padding:6px;background-color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:11px;font-style:normal;line-height:1;text-decoration:none;text-align:center;text-shadow:0 0 1px #fff;white-space:nowrap;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}.pointyTip,.pointyTipShadow{border:6px solid transparent;bottom:-12px;height:0;left:50%;margin-left:-6px;position:absolute;width:0}.pointyTipShadow{border-width:7px;bottom:-14px;margin-left:-7px}.colorTipContainer{position:relative;text-decoration:none!important;display:inline-block}.white .pointyTip{border-top-color:#fff}.white .pointyTipShadow{border-top-color:#ddd}.white .colorTip{background-color:#fff;border:1px solid #DDD;color:#555}.yellow .pointyTip{border-top-color:#f9f2ba}.yellow .pointyTipShadow{border-top-color:#e9d315}.yellow .colorTip{background-color:#f9f2ba;border:1px solid #e9d315;color:#5b5316}.black .pointyTip{border-top-color:#333}.black .pointyTipShadow{border-top-color:#111}.black .colorTip{background-color:#333;border:1px solid #111;color:#fcfcfc;text-shadow:none}.social-color i,.social-normal i{display:inline-block;margin:10px}.social-color{padding:10px}.the-icons{margin:0 20px;padding:0 8px}.the-icons li{margin:8px 0;vertical-align:baseline}.the-icons li i{margin-right:10px}.icons-color{overflow:hidden}.ui-accordion .ui-accordion-header{display:block;cursor:pointer;position:relative;zoom:1}.accordion{margin-bottom:25px}.accordion h4{padding:10px 20px;margin-bottom:4px}.accordion p{padding:13px 17px;margin-bottom:4px!important}.accordion .icon-minus,.accordion .icon-plus{margin-top:8px}.ui-accordion .ui-accordion-content{overflow:hidden;zoom:1}.accordion.style2 h4,.accordion.style2 p{background:none!important}.accordion.style2 h4{margin-bottom:0;padding:11px 20px 11px 0}.accordion.style2 h4.ui-state-active{border-bottom:0!important}.accordion.style2 p{padding:5px 0 20px;margin-bottom:0!important}.accordion.style2 .icon-minus,.accordion.style2 .icon-plus{margin-top:0;margin-right:17px;padding:7px 9px}.progress-bar{margin:0 0 25px!important}.meter .meter-content,.progress-bar .meter{height:37px}.progress-bar .meter{position:relative;margin-bottom:20px;margin-left:0!important}.meter .meter-content[data-percentage]{text-indent:-9999px}.meter .meter-title{top:12px;left:17px;position:absolute;line-height:15px!important}.button,.woocommerce #review_form #respond .form-submit input,.woocommerce button.button,.woocommerce-page #review_form #respond .form-submit input,.woocommerce-page button.button,.wpcf7-submit{display:inline-block;margin:5px 5px 5px 0;border:none;cursor:pointer;text-shadow:none!important}.button.small,.woocommerce #content input.button,.woocommerce #respond input#submit,.woocommerce #review_form #respond .form-submit input,.woocommerce .cart .button,.woocommerce .cart input.button,.woocommerce .cart input.checkout-button.button.alt,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce-page #content input.button,.woocommerce-page #respond input#submit,.woocommerce-page #review_form #respond .form-submit input,.woocommerce-page .cart .button,.woocommerce-page .cart input.button,.woocommerce-page .cart input.checkout-button.button.alt,.woocommerce-page a.button,.woocommerce-page button.button,.woocommerce-page input.button{padding:12px 22px}.button,.button.medium,.woocommerce #content input.button.alt,.woocommerce #respond input#submit.alt,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt,.woocommerce-page #content input.button.alt,.woocommerce-page #respond input#submit.alt,.woocommerce-page a.button.alt,.woocommerce-page button.button.alt,.woocommerce-page input.button.alt,.wpcf7-submit{padding:15px 30px}.button.large{padding:17px 31px}.button i{font-size:150%;line-height:2px;display:inline-block;margin-top:-3px}.button.no-text i{margin-top:0;margin-right:0}.button.small.no-text{width:39px;height:18px;padding:7px 0 12px !important;text-align:center}.button.medium.no-text{padding:12px 22px !important;}.button.no-text [class*=" social_icon-"],.button.no-text [class^=social_icon-]{font-size:17px}#horizontal-tabs,#vertical-tabs{margin-bottom:25px;overflow:hidden}#horizontal-tabs ul.tabs{overflow:hidden;margin:0!important}#horizontal-tabs ul.tabs li,.woocommerce #content div.product .woocommerce-tabs ul.tabs li,.woocommerce div.product .woocommerce-tabs ul.tabs li,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,.woocommerce-page div.product .woocommerce-tabs ul.tabs li{padding:16px 22px;cursor:pointer;margin:0!important;list-style:none}#horizontal-tabs .tabscontent.no-padding{padding-left:0;padding-right:0}#horizontal-tabs .contents{margin-top:-1px}#vertical-tabs .contents{width:74%}#vertical-tabs ul.tabs{overflow:hidden;width:25%;position:relative;margin:0!important}#vertical-tabs ul.tabs li{padding:16px 22px;cursor:pointer;margin:0!important;list-style:none}#vertical-tabs .contents{margin-left:-1px}#horizontal-tabs ul.tabs li.current,#vertical-tabs ul.tabs li.current{background:0 0;cursor:default}#horizontal-tabs .tabscontent,#vertical-tabs .tabscontent{padding:20px;display:none;overflow:hidden}#horizontal-tabs.style2 .contents,#horizontal-tabs.style2 ul.tabs,#horizontal-tabs.style2 ul.tabs li,#vertical-tabs.style2 .contents,#vertical-tabs.style2 ul.tabs,#vertical-tabs.style2 ul.tabs li{border:none!important}#horizontal-tabs.style2 ul.tabs li{margin-right:3px!important;margin-bottom:3px!important}#horizontal-tabs.style2 .contents{margin-top:1px}#vertical-tabs.style2 ul.tabs li{margin-bottom:3px!important}#vertical-tabs.style2 .contents{margin-left:4px}.alert{padding:14px 33px 14px 20px;position:relative;margin-bottom:25px}.warning{background-color:#f9d9d9;color:#aa4343}.success{background-color:#d8f1c6;color:#769958}.info{background-color:#d7e3f4;color:#728095}.notice{background-color:#fbf4dd;color:#a38c68}.alert i{margin:1px 10px 0 0}.close{position:absolute;right:4px;top:16px;cursor:pointer}#toggle-view{margin:0 0 25px!important}#toggle-view li{position:relative;cursor:pointer;margin-bottom:17px!important;list-style:none!important;margin-left:0!important}#toggle-view li h4{padding:10px 20px}#toggle-view span.link{position:absolute;right:18px;top:13px}#toggle-view .panel{padding:13px 17px;display:none;cursor:text}#toggle-view .panel.normal,#toggle-view li h4.normal.border{background:0 0}blockquote{padding:15px;margin-bottom:20px;display:inline-block}.info-box{padding:20px;overflow:hidden;margin-bottom:25px}.dropcaps{display:block}.dropcaps:first-letter{padding:5px 10px;float:left;margin:5px 10px 0 0;text-transform:uppercase}.arrow-list li,.asterisk-list li,.check-list li,.circle-list li,.cross-list li,.heart-list li,.minus-list li,.plus-list li,.project-details li,.square-list li,.star-list li,.widget.widget_archive li,.widget.widget_categories li,.widget.widget_meta li,.widget.widget_nav_menu li,.widget.widget_pages li,.widget.widget_recent_comments li,.widget.widget_recent_entries li,.woocommerce-page .widget_layered_nav ul li,.woocommerce-page .widget_product_categories ul li,.woocommerce.widget_layered_nav ul li,.woocommerce.widget_product_categories ul li{padding:5px 5px 5px 18px;line-height:20px;position:relative}.arrow-list li,.asterisk-list li,.check-list li,.circle-list li,.cross-list li,.heart-list li,.minus-list li,.plus-list li,.square-list li,.star-list li{margin:0!important;list-style:none!important;list-style-position:inherit!important}.arrow-list,.arrow-list ul,.asterisk-list,.asterisk-list ul,.check-list,.check-list ul,.circle-list,.circle-list ul,.cross-list,.cross-list ul,.heart-list,.heart-list ul,.minus-list,.minus-list ul,.plus-list,.plus-list ul,.square-list,.square-list ul,.star-list,.star-list ul{margin-left:0!important}.square-list li:before,.widget.widget_archive li:before,.widget.widget_categories li:before,.widget.widget_meta li:before,.widget.widget_nav_menu li:before,.widget.widget_pages li:before{content:'\e649';font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:6px;position:absolute;top:5px;left:0}.check-list li:before{content:'\e60c';font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:11px;position:absolute;top:4px;left:0}.plus-list li:before{content:'\e661';font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:10px;position:absolute;top:5px;left:0}.arrow-list li:before,.widget.widget_recent_comments li:before,.widget.widget_recent_entries li:before,.woocommerce-page .widget_layered_nav ul li:before,.woocommerce-page .widget_product_categories ul li:before,.woocommerce.widget_layered_nav ul li:before,.woocommerce.widget_product_categories ul li:before{content:'\e64f';font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:11px;position:absolute;top:6px;left:0}.cross-list li:before{content:'\e60d';font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:12px;position:absolute;top:5px;left:0}.star-list li:before{content:'\e605';font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:11px;position:absolute;top:5px;left:0}.minus-list li:before{content:'\e662';font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:10px;position:absolute;top:6px;left:0}.heart-list li:before{content:'\e604';font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:9px;position:absolute;top:5px;left:0}.circle-list li:before{content:'\e6f4';font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:8px;position:absolute;top:5px;left:0}.asterisk-list li:before{content:'\e663';font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:9px;position:absolute;top:5px;left:0}.pagination{margin:25px 0 5px;overflow:hidden}.pagination a,.pagination span,.woocommerce nav.woocommerce-pagination ul li a,.woocommerce nav.woocommerce-pagination ul li span,.woocommerce-page nav.woocommerce-pagination ul li a,.woocommerce-page nav.woocommerce-pagination ul li span{margin:5px 5px 0 0;padding:9px 14px;height:15px}.woocommerce nav.woocommerce-pagination ul li a,.woocommerce nav.woocommerce-pagination ul li span,.woocommerce-page nav.woocommerce-pagination ul li a,.woocommerce-page nav.woocommerce-pagination ul li span{padding:9px 10px}.pagination a.next,.pagination a.prev{padding:3px 14px 15px}.breadcrumbs{padding:12px 12px 12px 6px}.breadcrumbs li{display:inline;padding:0}.breadcrumbs li i{margin:0 10px}.breadcrumbs.gray,.breadcrumbs.normal{border:none}.post-content table,table.style{width:100%;margin-bottom:10px;margin-top:10px;text-align:left}.post-content table th,table.style th{font-weight:700}.post-content table td,.post-content table th,table.style td,table.style th{padding:11px}.form-elements input[type=password],.form-elements input[type=text],.form-elements select,.form-elements textarea{padding:10px}.form-elements input[type=password],.form-elements input[type=text]{min-width:220px}.form-elements select{min-width:240px;margin-top:10px}.form-elements textarea{margin-top:15px;min-height:214px;width:95%}.form-elements fieldset{margin-bottom:10px;min-height:30px}.form-elements span{min-width:90px;display:inline-block}.form-elements input[type=checkbox],.form-elements input[type=radio]{position:absolute;left:-999em}.form-elements label{cursor:pointer}.form-elements label:before{display:inline-block;position:relative;top:7px;left:0;content:'';width:25px;height:25px;background-image:url(../images/icons/formelements.png);margin-right:4px}.form-elements input[type=checkbox]+label:before{background-position:0 -25px}.form-elements input[type=checkbox]:checked+label:before{background-position:0 0}.form-elements input[type=radio]+label:before{background-position:-25px -25px}.form-elements input[type=radio]:checked+label:before{background-position:-25px 0}.ie8 .form-elements label:before{display:none;content:none}.ie7 .form-elements input[type=checkbox],.ie7 .form-elements input[type=radio],.ie8 .form-elements input[type=checkbox],.ie8 .form-elements input[type=radio]{position:static;left:0}.ie8 .form-elements input[type=checkbox],.ie8 .form-elements input[type=radio]{position:relative;top:2px;margin-right:5px}.welcome{padding:30px 10%;margin-bottom:25px}.welcome p{line-height:37px}.qoute{padding:30px 2% 30px 4%;overflow:hidden;margin-bottom:25px}.qoute .four.columns{text-align:center}.pricing-tables{overflow:hidden;line-height:18px;margin-bottom:5px}.tables-column{margin-bottom:20px!important}.tables-column .header h3{padding:12px 10px;margin-bottom:0;position:relative;overflow:hidden}.tables-column .header h3 span.pop{padding:0 20px;display:inline-block;height:21px;line-height:24px;position:absolute;top:12px;right:-20px}.tables-column .header .price{padding:15px 10px}.tables-column .header .price h2{margin-bottom:3px;font-weight:700}.tables-column .list,.tables-column ul{padding:3px 15px;margin:0!important}.tables-column .list li,.tables-column ul li{padding:13px 0!important;list-style:none!important;margin:0!important;min-height:18px}.tables-column .footer{margin:20px 0 25px;padding:0 20px}.tables-column .footer h4 a{display:block;padding:7px}.pricing-tables .tables-column i{line-height:2px;display:inline-block;margin-top:-3px}