/*   
Theme Name: Invention
Theme URI: http://themes.jozoor.com/?theme=Invention-WP
Description: Invention Theme for corporate, portfolio and business websites, responsive and clean layout, more than color skins, Fully Customizable, Comprehensive Theme Options and more..
Author: Jozoor Team
Author URI: http://www.jozoor.com
Version: 1.0
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/*
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =   
=     00   00 00 00   00 00 00   00 00 00   00 00 00   00 00  =
=     00   00    00        00    00    00   00    00   00     =
=     00   00    00      00      00    00   00    00   00     =  
=     00   00    00    00        00    00   00    00   00     =
=  00 00   00 00 00   00 00 00   00 00 00   00 00 00   00     =
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
= = = = = = Thanks for watching our source code :)  = = = = = =
*/

/*  Droid Arabic Naskh (Arabic) http://www.google.com/webfonts/earlyaccess
======================================================================= */
@font-face {
  font-family: 'DroidNaskh';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v4/DroidNaskh-Regular.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v4/DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v4/DroidNaskh-Regular.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v4/DroidNaskh-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v4/DroidNaskh-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'DroidNaskh';
  font-style: normal;
  font-weight: 700;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v4/DroidNaskh-Bold.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v4/DroidNaskh-Bold.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v4/DroidNaskh-Bold.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v4/DroidNaskh-Bold.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v4/DroidNaskh-Bold.ttf) format('truetype');
}