/*   
Theme Name: Invention
Theme URI: http://themes.jozoor.com/?theme=Invention-WP
Description: Invention Theme for corporate, portfolio and business websites, responsive and clean layout, more than color skins, Fully Customizable, Comprehensive Theme Options and more..
Author: Jozoor Team
Author URI: http://www.jozoor.com
Version: 1.2
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/*
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =   
=     00   00 00 00   00 00 00   00 00 00   00 00 00   00 00  =
=     00   00    00        00    00    00   00    00   00     =
=     00   00    00      00      00    00   00    00   00     =  
=     00   00    00    00        00    00   00    00   00     =
=  00 00   00 00 00   00 00 00   00 00 00   00 00 00   00     =
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
= = = = = = Thanks for watching our source code :)  = = = = = =
*/

/* Import Basic Files
================================================== */

@import url("css/font.css");                                 /* Custom Font */
@import url("css/base.css");                                 /* Reset & Basics */
@import url("css/font-awesome/css/font-awesome.min.css");    /* Font Awesome */
@import url("css/fontello/css/fontello.css");                /* Fontello Social */
@import url("css/skeleton.css");                             /* Base 960 Grid */
@import url("css/javascript.css");                           /* Css Styles for js scripts */
@import url("css/shortcodes.css");                           /* Css Styles for shortcodes */

/* Site Styles
================================================== */
header {
	margin-top:130px;
	}
.banner-left {
    position: fixed;
	left:0;    
	margin-top: 130px;
}
.banner-top {
    position: fixed;   
	z-index: 1;
}
.banner-right{
    position: fixed;
	right:0;
	margin-top: 130px;
}
#nav,.accordion .icon-minus,.accordion .icon-plus,.alignright,.float-right,.more,.next-post,.portfolio-control,.portfolio-control a,.single-gallery-meta,.top-bar .social-icons,footer .social,header .social{float:right}#horizontal-tabs ul.tabs li,#options li,#vertical-tabs .contents,#vertical-tabs ul.tabs,.about-author .avatar,.accordion.style2 .icon-minus,.accordion.style2 .icon-plus,.alert i,.alignleft,.comments .comment-box .avatar,.float-left,.form-box,.format-gallery .gallery.entry .item,.member-social a,.navigation ul li,.page-title h1,.pagination a,.pagination span,.post-meta .meta,.post.style-2 .image-post,.prev-post,.related-posts .item,.share-social a,.team .item h4,.the-icons,.top-down-menu li,.tweet_list li i.icon-twitter,.widget.most-posts ul.posts li img,header.style-3 #nav,img.pic-2{float:left}.bottom-0{margin-bottom:10px!important}.bottom-1{margin-bottom:15px!important}.bottom-2{margin-bottom:25px!important}.bottom-3{margin-bottom:35px!important}.bottom-4{margin-bottom:45px!important}.bottom-5{margin-bottom:55px!important}.top-0{margin-top:10px!important}.top-1{margin-top:15px!important}.top-2{margin-top:25px!important}.top-3{margin-top:35px!important}.top-4{margin-top:45px!important}.top-5{margin-top:55px!important}#menu>a,.cart .quantity input.minus,.cart .quantity input.plus,.comment-awaiting-moderation,.woocommerce .cart .quantity input.qty{border-radius:1px}#footer.thumbs li img,#horizontal-tabs .contents,#horizontal-tabs.style2 ul.tabs li,#options li a,#sidebar.thumbs li img,#toTop,#toggle-view .panel,#toggle-view li h4,#vertical-tabs .contents,#vertical-tabs.style2 ul.tabs li,.about-author .content,.accordion h4,.accordion p,.accordion.style2 .icon-minus,.accordion.style2 .icon-plus,.alert,.blog-3 .item,.breadcrumbs,.button,.comments .comment-box.author,.fancybox-skin,.flex-container .slides li img,.form-box input.text,.form-box textarea,.form-elements input[type=text],.form-elements input[type=password],.form-elements select,.form-elements textarea,.format-aside .entry-content,.format-gallery .gallery .item img,.format-link .entry-link,.format-status .entry-status,.gallery .item img.pic,.image-post img,.img-caption,.info-box,.latest-blog .item img,.member-social a,.meter,.meter .meter-content,.more,.no-comments,.notification_error,.notification_ok,.pagination a,.pagination span,.popular-tags a,.portfolio .item img,.portfolio-control a,.post-meta .meta,.post-tags,.project-full img,.qoute,.recent-work .item img.pic,.related-posts .item img,.related-posts .no-thumbnail,.share-social a,.single-gallery .item.gallery-item .img-caption-gallery,.single-gallery .item.gallery-item img,.slidecontrols li a,.subscribe input.mail,.subscribe input.submit,.tables-column,.tables-column .footer h4 a,.tagcloud a,.team .item img,.testimonial-item p,.welcome,.widget .followers,.widget .followers li a,.widget .text-search,.widget.most-posts ul.posts li img,.woocommerce nav.woocommerce-pagination ul li a,.woocommerce nav.woocommerce-pagination ul li span,.woocommerce-page nav.woocommerce-pagination ul li a,.woocommerce-page nav.woocommerce-pagination ul li span,.woocommerce.widget_product_search input[type=text],.wp-caption,.wpcf7 .wpcf7-captchar,.wpcf7 .wpcf7-date,.wpcf7 .wpcf7-number,.wpcf7 .wpcf7-quiz,.wpcf7 .wpcf7-text,.wpcf7 .wpcf7-textarea,.wpcf7-submit,body.under-construction .content input.subscribe-button,body.under-construction .content input.subscribe-text,img.pic-2{border-radius:2px}.blog-3 .item .image-post img,.tables-column .header h3{border-radius:2px 2px 0 0}.flex-direction-nav li a.flex-prev,blockquote{border-radius:0 2px 2px 0}.flex-direction-nav li a.flex-next{border-radius:2px 0 0 2px}.widget.most-posts ul.posts li img,img.pic-2{margin:0 13px 5px 0}.more{width:29px;height:29px;display:block;font-weight:700}.social a{display:inline-block;margin:0 0 0 18px}footer .social .social-icon.white,header .social .social-icon.white{margin:0!important}header .social{margin-top:1px}footer .social{margin-top:2px}.top-bar{min-height:30px;padding:10px 0}.phone-mail{padding:3px 0}.phone-mail a{margin-right:20px}.phone-mail i{margin-right:7px}.social span.none{display:inline-block;padding-top:8px}.logo{margin:35px 0}.logo img{width:171px;height:33px}header .top-bar.none{min-height:4px;padding:0}header .search form{margin:30px 0}header.style-3.style-5 .navigation>#nav{display:inline-block;float:none;margin-bottom:-4px}header.style-3.style-5 .down-header{min-height:66px}header.fixed .sticky-wrapper.is-sticky .down-header,header.fixed .sticky-wrapper.is-sticky .main-header{position:relative;z-index:100000;width:100%;-moz-box-shadow:0 0 3px #888;-webkit-box-shadow:0 0 3px #888;box-shadow:0 0 3px #888}#nav{margin-top:-4px}header.style-3 #nav{margin-top:-1px}#menu>a,i.icon-angle-down.responsive{display:none}.down-button{text-align:center;display:none}.slider-1,.slider-2{overflow:hidden}.slider-1 .loading .slides li .contain,.slider-1 .slides li .contain,.slider-2 .loading .slides li .contain,.slider-2 .slides li .contain{position:relative;min-height:478px}.slider-1 .slides li .links,.slider-1 .slides li .slide-desc,.slider-1 .slides li h2{max-width:480px;min-width:480px}.slider-1 .slides li .item,.slider-1 .slides li .links,.slider-1 .slides li .slide-desc,.slider-1 .slides li h2{position:absolute}.slider-1 .slides li h2{left:0;top:-100%;opacity:0;z-index:50}.slider-1 .slides li .slide-desc{left:0;bottom:-50%;opacity:0;z-index:50}.slider-1 .slides li .links{left:0;bottom:-100%;opacity:0;z-index:50}.slider-1 .slides li .item{right:-100%;opacity:0;z-index:10}.slider-1 .slides li .slide-desc,.slider-2 .slides li .slide-desc{line-height:30px}.slider-1 .loading,.slider-2 .loading{background:url(images/icons/loading.gif) center center no-repeat #4b4c4d}.slider-1 .button.small,.slider-2 .button.small{margin-right:15px}.slider-1 .button.medium,.slider-2 .button.medium{padding:17px 30px;margin-right:12px}.slider-1 .slides li .video-wrap,.slider-2 .slides li .video-wrap{min-width:425px;min-height:244px}.slider-2 .slides li .item,.slider-2 .slides li .links,.slider-2 .slides li .slide-desc,.slider-2 .slides li h2{position:absolute}.slider-2 .slides li .links,.slider-2 .slides li .slide-desc,.slider-2 .slides li h2{width:70%;padding:0 15%}.slider-2 .slides li .item{width:90%;padding:0 5%}.slider-2 .slides li h2{bottom:-20%;opacity:0}.slider-2 .slides li .slide-desc{bottom:-50%;opacity:0}.slider-2 .slides li .links{bottom:-60%;opacity:0}.slider-2 .slides li .item{bottom:-80%;opacity:0}.slider-2 .slides li h2 span{padding:10px 20px;background:rgba(0,0,0,.5);line-height:75px;text-transform:uppercase;letter-spacing:2px}.slider-1 .slides li .links a:hover,.slider-2 .slides li .links a:hover{background:rgba(0,0,0,.5)}.slider-1.iphone li{background:url(images/img/sliders/pattern.png)}.slider-1.iphone li img{margin-top:37px}.slider-1 .slides li .links p,.slider-2 .slides li .links p{line-height:18px;display:inline}.services{overflow:hidden}.one-page .home-bg,.one-page.section,.one-page.welcome,.services.home{padding:55px 0}.page-section{padding:65px 0 40px;opacity:0}.one-page.section,.page-section.no-padding-bottom{padding-bottom:0}.page-section.no-padding-top{padding-top:0}.page-section .post-content .shortcode-column>p,.page-section .post-content>p{line-height:30px}.page-section .fluid-width-video-wrapper{margin:15px 0 40px}.page-section .slider-shortcode{margin:15px 0 35px}.page-section img[class*=wp-image-]{margin-bottom:0}.services.home.s-2{padding:75px 0 35px}.services.style-1 .item{margin-bottom:10px}.services.style-1 .item h3,.services.style-1 .item h4{margin-bottom:12px}.services.style-1 .item .circle{width:130px;height:50px;border-radius:50%;margin:0 auto 30px;padding:40px 0;line-height:50px}.services.style-1 .item .circle a{display:block}.services.style-1 .item p{padding:0 5px}.services.style-1 .icon_box .circle,.services.style-1 .icon_box .data{float:none}.services.style-2 .item{overflow:hidden}.services.style-2 .circle{width:50px;height:22px;border-radius:50%;padding:14px 0;margin-right:10px;margin-top:7px;line-height:22px}.services.style-2 .data{width:78%}.services.style-2 .four.columns.icon_box .data{width:72%}.services.style-2 .eight.columns.icon_box .data{width:85%}.services.style-3 .item{overflow:hidden}.services.style-3 .circle{width:105px;height:51px;border-radius:50%;padding:27px 0;margin-right:10px;line-height:51px}.services.style-3 .data{width:73%}.services.style-3 .one-third.column.icon_box .data{width:60%}.services.style-3 .four.columns.icon_box .data{width:47%}.services.style-3 .full-column .data{width:86%}.services.style-2 .full-column .data{width:92.5%}.recent-work .item{position:relative;overflow:hidden;max-height:240px;margin-bottom:20px}.gallery .item,.portfolio .item{position:relative;overflow:hidden;margin-bottom:20px!important}.img-caption{position:absolute;top:100%;width:100%;height:100%}.gallery .item a,.gallery .item img,.portfolio .item a,.portfolio .item img,.recent-work .item a,.recent-work .item img{display:block}.img-caption .desc{padding:10%}.img-caption .desc span{text-align:center;display:block;font-weight:700;margin-top:4%}.portfolio .item.element-4 .img-caption .desc span{margin-top:3%}.gallery .item.element-4 .img-caption .desc,.portfolio .item.element-4 .img-caption .desc{padding:5%}.gallery .item img,.portfolio .item img,.recent-work .item img{width:100%;height:auto}.latest-blog .item{margin-bottom:27px}.latest-blog .item img{margin-bottom:15px}.latest-blog .item img:hover{opacity:.7;filter:alpha(opacity=70)}.latest-blog .item .meta{margin-bottom:13px}.featured-clients .item{margin-bottom:20px;text-align:center}.featured-clients img{opacity:.8;filter:alpha(opacity=80)}.featured-clients img:hover{opacity:1;filter:alpha(opacity=100)}footer{margin-top:40px}#wrap.page-sections footer{margin-top:0}.footer-top{padding:40px 0 20px}.footer-down{padding:22px 0}footer h3.title{margin-bottom:20px}.subscribe form{margin-top:22px}.subscribe input.mail{padding:13px;border:none;width:53%;margin-right:2px}.subscribe input.submit{padding:12px 15px;border:none;cursor:pointer}span.copyright{padding-top:7px;display:block}footer .social span.none{font-size:14px;padding-top:3px}.footer-down.none{min-height:4px;padding:0}footer .widget{margin-bottom:20px}.page-title{padding:42px 0 34px;margin-bottom:40px}.page-title h1{margin-bottom:0}.testimonials .testimonial-item{margin-bottom:20px}.testimonial-item p{padding:18px 20px 25px}.testimonials-arrow{margin:0 0 0 30px;width:0;height:0;border-style:solid;border-width:0 26px 26px 0;line-height:0}.testimonial-item .author{margin:-4px 0 0 77px}.team .item{margin-bottom:30px!important;min-height:397px}.team.columns-4 .item{min-height:360px}.team .item img{margin-bottom:15px;opacity:.8;filter:alpha(opacity=80)}.team .item:hover img{opacity:1;filter:alpha(opacity=100)}.team .item span{margin-bottom:5px;display:inline-block}.team .item p{margin:8px 0 18px}.member-social a{margin:0 6px 6px 0;width:34px;height:15px;padding:4px 0 12px;line-height:25px}.member-social.author-links a{width:30px;height:15px;padding:4px 0 8px;line-height:15px}.member-social.author-links{margin-top:17px}.member-social a i{margin:0 auto!important;display:block!important}.page-404{padding:60px 0 120px;min-height:520px;margin-bottom:-40px}.page-404 .oops{margin-bottom:38px}.page-404 .text{margin-bottom:30px}.page-404 .coffee{position:relative;width:77px;margin:20px auto}.page-404 i.icon-coffee{position:absolute;top:31px;z-index:100}.page-404 i.icon-fire{position:absolute;left:28px}.portfolio-control{margin-top:6px}.portfolio-control a{padding:4px 14px;margin-left:9px}.portfolio-control a.all{padding:6px 8px 2px}.share-social a{margin:0 6px 6px 0;width:38px;height:18px;padding:7px 0 12px}.share-social a span{margin:0 auto!important;display:block!important}.project-full li{margin-bottom:20px}.post.style-1,.post.style-2{padding-bottom:32px;overflow:hidden}.post.style-1:last-child,.post.style-2:last-child{border-bottom:0;padding-bottom:0}.image-post{margin:5px 0 15px}.format-gallery .gallery .item img:hover,.image-post img:hover{opacity:.7;filter:alpha(opacity=70)}.post-content p{margin-bottom:25px}.post-meta{overflow:hidden}.post-meta .meta{padding:8px 12px;min-height:16px;margin:0 5px 5px 0;display:inline-block}.post-meta .meta i{margin-right:3px;vertical-align:text-bottom}.post.style-2 .image-post,html.ie.ie8 .post.style-2 .image-post{width:260px;margin-right:20px}.single-post .post{border-bottom:0!important}.sidebar .widget{margin-bottom:30px}.sidebar .search form,.woocommerce.widget_product_search form,footer .search form,header .search form{position:relative}.sidebar .widget .text-search,.woocommerce.widget_product_search input[type=text],footer .widget .text-search,header .widget .text-search{padding:13px 36px 13px 13px;border:none;width:82%}.widget .submit-search,.woocommerce.widget_product_search input[type=submit]{position:absolute;top:15px;right:14px;border:none;cursor:pointer;width:18px;height:18px;text-indent:-9999px}.widget.categories ul li{padding:5px 5px 10px 18px;margin-bottom:7px}.widget.categories ul li:last-child{border-bottom:0;margin-bottom:0}.popular-tags a,.tagcloud a{padding:12px 10px;display:inline-block;margin:0 2px 6px 0}.widget #horizontal-tabs ul.tabs li{padding:16px 14px}.widget.most-posts ul.posts li{margin-bottom:16px;overflow:hidden}footer .widget.most-posts ul.posts li{margin-bottom:12px}.widget.most-posts ul.posts li:last-child{margin-bottom:0}.widget.most-posts ul.posts li img:hover{opacity:.8;filter:alpha(opacity=80)}.widget.most-posts ul.posts li p{margin-bottom:5px}.widget.most-posts ul.posts li img{width:68px}.widget .followers{padding:10px}.widget .followers li{display:inline-block;text-align:center;margin:10px 4px}.widget .followers li a{display:inline-block;margin:0 6px 6px 0;width:38px;height:18px;padding:7px 0 12px}.widget .followers li a i{margin:0}.widget .followers li h4{margin-bottom:0}.blog-3 .item{margin-bottom:20px!important}.blog-3 .item .contain .data{padding:10px 13px 8px}.blog-3 .item .contain .data p.last-tag{display:none}.blog-3 .item .image-post{margin-top:0;margin-bottom:3px}.blog-3 .item .post-meta{margin-bottom:13px}.blog-3 .item .post-content{padding-top:12px;padding-bottom:8px}.blog-3 .item .post-meta .meta{padding:5px 10px 0 0;margin:3px 2px 3px 0;background:0 0!important}.blog-3 #options,.one-page #options{margin-bottom:15px}.blog-3 #options #filters li,.one-page #options #filters li{float:none;display:inline-block;margin:2px 4px 2px 0}.blog-3 .pagination-contain .pagination{display:inline-block}.post-tags{padding:13px 15px;line-height:22px;margin-top:40px}.next-prev-posts{overflow:hidden}.about-author .content{padding:20px;overflow:hidden;margin-top:20px}.about-author .avatar img{width:80px;height:80px;border-radius:50%}html.ie.ie8 .about-author .avatar img{width:inherit}.about-author .content .data{margin-left:105px}.about-author .content .data h5{margin-bottom:10px}.related-posts{overflow:hidden}.related-posts .item{width:200px;margin-right:13px;margin-bottom:13px}.related-posts .item img{margin-bottom:10px}.related-posts .item img:hover{opacity:.7;filter:alpha(opacity=70)}.related-posts .item .meta{margin-top:5px}.comments .comment-box{margin-bottom:20px}.comments .comment-box div.avatar{margin-top:5px}.comments .comment-box .avatar img{width:60px;height:60px;border-radius:50%}html.ie.ie8 .comments .comment-box .avatar img{width:inherit}.comments .comment-box div.comment{margin-left:80px;padding-bottom:20px}.comments>.comment-box:last-child>div.comment{border-bottom:0}.comments .comment-box .comment h5{margin-bottom:5px}.comments .comment-box .comment .date-replay{margin-bottom:17px}.comments .comment-box .children{margin-top:20px;margin-left:80px}.comments .comment-box.author{padding:15px 10px 10px}.comments .comment-box.author .comment{padding-bottom:10px;border-bottom:0}.comment-awaiting-moderation{padding:5px}.no-comments{padding:10px}.form-box{width:200px;margin:0 20px 15px 0}.form-box.last{margin-right:0}.form-box.big{width:100%}.form-box label{padding:5px 0;margin-bottom:8px;display:block}.form-box input.text,.wpcf7 .wpcf7-captchar,.wpcf7 .wpcf7-date,.wpcf7 .wpcf7-number,.wpcf7 .wpcf7-quiz,.wpcf7 .wpcf7-text{padding:12px 10px;width:89%;display:block}.form-box textarea,.wpcf7 .wpcf7-textarea{width:96.6%;padding:12px 10px;min-height:180px;display:block;border:none}.wpcf7 .wpcf7-captchar,.wpcf7 .wpcf7-date,.wpcf7 .wpcf7-number,.wpcf7 .wpcf7-quiz,.wpcf7 .wpcf7-text{width:96.6%}.wpcf7 .wpcf7-captchar,.wpcf7 .wpcf7-date,.wpcf7 .wpcf7-number,.wpcf7 .wpcf7-quiz,.wpcf7 .wpcf7-text,.wpcf7 .wpcf7-textarea{margin-top:10px}.gmaps{display:block;width:100%!important;min-height:350px!important;margin:0 auto}.gmaps img{max-width:inherit!important}.gmaps.full-top{margin-top:-40px}.sidebar .gmaps,footer .gmaps{min-height:250px!important;margin-top:0!important}.address-info li,.email-info li,.phone-info li{padding:5px 5px 5px 18px;line-height:25px;position:relative}.phone-info li{padding-left:22px}.email-info li{padding-left:26px}.address-info li:before{content:'\e63d';font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:20px;position:absolute;top:5px;left:0}.phone-info li:before{content:'\e68c';font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:17px;position:absolute;top:5px;left:0}.email-info li:before{content:'\e6c6';font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:17px;position:absolute;top:5px;left:0}body.under-construction .content #clock-ticker,body.under-construction .content h2.title,body.under-construction .content p.text,body.under-construction header .logo img{opacity:0}body.under-construction header .logo img{display:inline-block}body.under-construction header .logo{margin:39px 0}body.under-construction .content{width:100%;height:462px;padding:100px 0}body.under-construction .content h2.title{margin-bottom:20px;margin-top:-40px}body.under-construction .content p.text{line-height:40px}body.under-construction .content .block{display:inline-block;width:130px;height:62px;padding:34px 0;border-radius:50%;margin:0 10px}body.under-construction .content .block .flip-top{display:block;margin-bottom:3px}body.under-construction .content .subscribe{position:relative;z-index:100}body.under-construction .content input.subscribe-button,body.under-construction .content input.subscribe-text{border:none}body.under-construction .content input.subscribe-text{width:50%;margin-right:15px;margin-left:13px;padding:14px 15px}body.under-construction .content input.subscribe-button{cursor:pointer;padding:12px 20px 14px}body.under-construction footer{margin:0;padding:30px 0 40px}body.under-construction footer span.copyright{margin-bottom:15px}body.under-construction footer .social{float:none}.one-page p.description{line-height:30px}.one-page #options #filters li{float:none;display:inline-block;margin:2px 4px 2px 0}.one-page #testimonials .slidecontrols li a.carousel1-next,.one-page #testimonials .slidecontrols li a.carousel1-prev{bottom:8px;top:inherit}.testimonials-shortcode .carousel-shortcode .slidecontrols li [class*="-next "],.testimonials-shortcode .carousel-shortcode .slidecontrols li [class*="-prev"],.testimonials-shortcode .carousel-shortcode .slidecontrols li [class*="-prev "],.testimonials-shortcode .carousel-shortcode .slidecontrols li [class*="-next"]{bottom:30px;top:inherit}.one-page.section .pic{display:block}.one-page.section h2{margin-top:90px}.download-now{padding:20px 0}table#wp-calendar{width:100%}table#wp-calendar caption,table#wp-calendar td,table#wp-calendar th{padding:11px;text-align:center}table#wp-calendar th{font-weight:700}.sidebar table#wp-calendar caption,footer table#wp-calendar caption{border-bottom-width:0!important}#horizontal-tabs .tabscontent p:last-child,#toggle-view li p:last-child,#vertical-tabs .tabscontent p:last-child,.alert p,.icon_box p:last-child,.info-box p:last-child,.post-content .last-tag,.post-content>p:last-child,.qoute p{margin-bottom:0}.post .post-content .button.small{padding:7px 22px}.post .post-content .post-protected .button.small{padding:10px 22px;margin-left:7px}.main-content{margin-top:none}.fluid-width-video-wrapper{background:url(images/loading-video.gif) 50% 50% no-repeat #000}iframe#rufous-sandbox{display:none!important}.format-aside .entry-content,.format-link .entry-link,.format-status .entry-status{padding:20px}.format-aside .entry-content a.infinity-symbol{font-size:30px;vertical-align:text-top}.format-quote .entry-quote p{margin-bottom:8px}.format-aside .post-content,.format-link .entry-link,.format-status .entry-status{margin-bottom:20px}.format-status .entry-status{text-align:center}.format-status .entry-status iframe{margin:0 auto!important}.fb-xfbml-parse-ignore,.format-status .entry-status blockquote{display:none}.format-aside .entry-content,.format-link .entry-link,.format-quote .entry-quote{position:relative}.format-link .entry-link:before{content:'\e6a9';font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:19px;position:absolute;top:16px;right:17px;opacity:.3}.format-quote .entry-quote:before{content:'\e6f2';font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:17px;position:absolute;bottom:40px;right:19px;opacity:.3}.format-aside .entry-content:before{content:'\e729';font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:19px;position:absolute;bottom:25px;right:19px;opacity:.3}.gallery.entry .icon-search,.gallery.slider .icon-search,.single-project .icon-search{position:absolute;top:100%;left:50%}.format-gallery .gallery.entry,.format-gallery .gallery.slider{overflow:hidden;margin-bottom:15px}.audio.entry,.format-gallery .gallery.slider,.video.entry{margin-bottom:20px}.format-gallery .gallery.entry .item{margin:0 1% 1.1% 0!important;width:49.5%}.format-gallery .gallery.entry .item:nth-child(even){margin-right:0!important}.format-gallery .gallery.entry.col3 .item{width:32.65%}.format-gallery .gallery.entry.col3 .item:nth-child(even){margin-right:1%!important}.format-gallery .gallery.entry.col3 .item:nth-child(3n+3){margin-right:0!important}.format-gallery .gallery.slider .item{margin-bottom:0!important}.mejs-controls .mejs-time-rail .mejs-time-loaded{background:#646464!important}.audio.entry.image-post .mejs-container .mejs-controls,.blog-3 .item .contain .mejs-container .mejs-controls,.mejs-container .mejs-controls{padding:5px 0!important}.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,.mejs-controls .mejs-time-rail span{border-radius:0!important}.mejs-controls .mejs-button button:focus{outline:0!important}.audio.entry .image-post,.audio.entry.image-post{margin-bottom:0}.audio.entry .image-post img,.audio.entry.image-post img{display:block;border-radius:2px 2px 0 0}.video.entry .mejs-container .mejs-controls{padding:5px 0!important}.video.entry .colorTip{display:none!important}.comment-form input#submit,.form-allowed-tags{display:none}.single-post .entry-link,.single-post .entry-quote,.single-post .entry-status,.single-post .format-aside .entry-content{margin-top:3px!important}.single-post .post{padding-bottom:0;margin-bottom:20px!important}.single-post .custom-area{padding-bottom:25px}.single-post .custom-area.top{padding-bottom:15px}.pagination .pages-num{display:none}.related-posts .no-thumbnail{display:block;position:relative;height:125px;margin-bottom:13px}.related-posts .format-wrap{text-align:center;position:absolute;left:0;top:35%;display:block;width:100%}.nothing-found{padding:20px}.blog-3 .format-aside .entry-content{padding:20px 0}.blog-3 .audio.entry,.blog-3 .format-gallery .gallery.slider,.blog-3 .video.entry{margin-bottom:10px}.blog-3 .format-aside .post-content,.blog-3 .format-link .entry-link,.blog-3 .format-status .entry-status{margin-bottom:0}.blog-3 .format-status .entry-status{padding:10px 10px 8px}.blog-3 .entry-quote blockquote{margin-bottom:0}.blog-3 .format-aside .entry-content:before{content:''}.blog-3 .flex-direction-nav li a,.post.style-2 .flex-direction-nav li a{height:30px;padding:5px 7px;top:42%}.blog-3 #options #filters li.first{margin-right:1px}.single-project .item{position:relative;overflow:hidden}.single-project .item img:hover{opacity:.8;filter:alpha(opacity=80)}.project-details li.skills:before{content:'\e733';font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:15px;position:absolute;top:5px;left:0}.project-details li.cats:before{content:'\e60b';font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:13px;position:absolute;top:5px;left:0}.project-details li.date:before{content:'\e616';font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:17px;position:absolute;top:5px;left:0}.recent-work{overflow:hidden}.container .column.shortcode-column,.container .columns.shortcode-column{margin-bottom:30px}.shortcode-column .info-box,.shortcode-column .qoute{margin-bottom:0}.post-content .shortcode-column ol,.post-content .shortcode-column ul{margin:0}.post-content .shortcode-column .accordion,.post-content .shortcode-column .progress-bar,.post-content .shortcode-column .slider-shortcode{margin-bottom:0!important}.post-content{overflow:hidden;}hr.line.hidden{border:solid transparent;display:block;margin-bottom:5px!important}.post-content [class*=" icon-"],.post-content [class*=" social_icon-"],.post-content [class^=icon-],.post-content [class^=social_icon-],.slider-1 [class*=" icon-"],.slider-1 [class*=" social_icon-"],.slider-1 [class^=icon-],.slider-1 [class^=social_icon-],.slider-2 [class*=" icon-"],.slider-2 [class*=" social_icon-"],.slider-2 [class^=icon-],.slider-2 [class^=social_icon-]{vertical-align:middle;margin-right:4px}.post-content p span.icon-show{margin:0;display:inline-block}.post-content .highlight-black,.post-content .highlight-color{display:inline-block;padding:0 5px}.last-item{margin-right:0!important}.services.style-1 .icon_box,.services.style-2 .icon_box{margin-bottom:45px!important}.services.style-3 .icon_box{margin-bottom:55px!important}.post-content .services{margin-bottom:15px}.carousel-shortcode ul,.carousel-shortcode ul li,.latest-news-shortcode .item p,.post-content blockquote p:last-child,.post-content p.wp-caption-text,.slider-shortcode ul,.slider-shortcode ul li,.testimonials p{margin:0}.carousel-shortcode ul li,.slider-shortcode ul li{list-style:none}.carousel-shortcode .slidecontrols li i{margin-right:0}.slider-shortcode{margin-bottom:25px}.post-content .slider-shortcode i{margin-right:0}.latest-news-shortcode,.recent-projects-shortcode{overflow:hidden}.latest-news-shortcode .item{margin-bottom:30px!important}.testimonials-shortcode .testimonials .testimonial-item{margin-bottom:30px}.clients-shortcode{margin-bottom:25px}.post-content .services i{margin:0!important}.single-gallery .item.gallery-item .img-caption-gallery{position:absolute;top:0;left:0;width:100%;height:100%;display:table;overflow:hidden;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;transition:all .4s ease-in-out;text-align:center;background:rgba(0,0,0,.6);opacity:0}.single-gallery .item.gallery-item .img-caption-gallery .desc{width:100%;height:100%;display:table-cell;vertical-align:middle;color:#fff}.single-gallery .item.gallery-item .img-caption-gallery:hover{opacity:1}.single-gallery .item.gallery-item .img-caption-gallery .desc h5{font-weight:700;text-transform:capitalize;width:80%;margin:auto}.single-gallery .col4.item.gallery-item .img-caption-gallery .desc h5{font-size:15px}.single-gallery .col2.item.gallery-item .img-caption-gallery .desc h5{font-size:22px}.single-gallery .col1.item.gallery-item .img-caption-gallery .desc h5{font-size:24px}.slider-1 .flex-direction-nav i,.slider-2 .flex-direction-nav i{vertical-align:inherit;margin-right:0!important}.single-gallery-meta{vertical-align:middle;margin:17px 17px 0 0}.animate-element{display:inherit}.nav-search{position:relative}.nav-search>a{cursor:pointer}.nav-search>a:hover{background:0 0!important;border-color:transparent!important}.nav-search>a>i{margin-top:-3px}.nav-search .nav-search-from{display:none;position:absolute;z-index:1000;padding:15px}header .nav-search .nav-search-from.search form{margin:0}header .nav-search .nav-search-from.search form .text-search{width:82%}.top-down-menu{margin-top:7px;overflow:hidden}.top-down-menu li{text-transform:capitalize;margin-left:4px}.top-down-menu li a{padding:2px 10px;display:block;border-left:1px solid #383838}footer .top-down-menu li a{border-left:1px solid #494949}.top-down-menu li:first-child a{border-left:none}.top-down-menu li:last-child a{padding-right:0}footer .top-down-menu{margin-top:4px}.widget.recent-projects .thumbs li img{width:100%!important;height:auto!important}span.wpcf7-not-valid-tip{margin-top:5px}div.wpcf7-response-output{margin:2em 0 1em;padding:10px 1em}.wpcf7-range{width:99%}.wpcf7-select{margin-top:14px;margin-left:0;width:100%}span.wpcf7-list-item{margin-right:.5em;margin-left:0;display:inline-block;margin-top:10px}.wpcf7-acceptance,.wpcf7-file{margin-top:15px}.wpcf7-quiz-label{margin-top:15px;display:inline-block}.wpcf7 .wpcf7-date{padding:10px}.woocommerce h1.page-title{display:none}.woocommerce .woocommerce-result-count,.woocommerce-page .woocommerce-result-count{margin-bottom:35px!important}.woocommerce-result-count{margin-top:8px!important}.woocommerce-ordering select{background:0 0;padding:6px 10px;border:0;border-radius:0;-webkit-appearance:none;min-width:180px}.woocommerce-ordering{overflow:hidden;position:relative;border-radius:2px}.woocommerce-ordering:before{content:'\e6c3';font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:13px;position:absolute;top:9px;right:10px}.woocommerce .cart-collaterals .cross-sells ul.products li.product,.woocommerce .related ul li.product,.woocommerce .related ul.products li.product,.woocommerce .upsells.products ul li.product,.woocommerce .upsells.products ul.products li.product,.woocommerce ul.products li.product,.woocommerce-page .cart-collaterals .cross-sells ul.products li.product,.woocommerce-page .related ul li.product,.woocommerce-page .related ul.products li.product,.woocommerce-page .upsells.products ul li.product,.woocommerce-page .upsells.products ul.products li.product,.woocommerce-page ul.products li.product{width:23.5%;margin-right:2%}.woocommerce .woocommerce-3cols .cart-collaterals .cross-sells ul.products li.product,.woocommerce .woocommerce-3cols .related ul li.product,.woocommerce .woocommerce-3cols .related ul.products li.product,.woocommerce .woocommerce-3cols .upsells.products ul li.product,.woocommerce .woocommerce-3cols .upsells.products ul.products li.product,.woocommerce .woocommerce-3cols ul.products li.product,.woocommerce-page .woocommerce-3cols .cart-collaterals .cross-sells ul.products li.product,.woocommerce-page .woocommerce-3cols .related ul li.product,.woocommerce-page .woocommerce-3cols .related ul.products li.product,.woocommerce-page .woocommerce-3cols .upsells.products ul li.product,.woocommerce-page .woocommerce-3cols .upsells.products ul.products li.product,.woocommerce-page .woocommerce-3cols ul.products li.product{width:32%;margin-right:2%}.woocommerce ul.products li.last,.woocommerce-page ul.products li.last{margin-right:0!important}.woocommerce .cart-collaterals .cross-sells ul.products li.product.first,.woocommerce .related ul li.product.first,.woocommerce .related ul.products li.product.first,.woocommerce .upsells.products ul li.product.first,.woocommerce .upsells.products ul.products li.product.first,.woocommerce-page .cart-collaterals .cross-sells ul.products li.product.first,.woocommerce-page .related ul li.product.first,.woocommerce-page .related ul.products li.product.first,.woocommerce-page .upsells.products ul li.product.first,.woocommerce-page .upsells.products ul.products li.product.first{clear:none}.woocommerce .cart-collaterals .cross-sells ul.products li.product.last,.woocommerce .related ul li.product.last,.woocommerce .related ul.products li.product.last,.woocommerce .upsells.products ul li.product.last,.woocommerce .upsells.products ul.products li.product.last,.woocommerce-page .cart-collaterals .cross-sells ul.products li.product.last,.woocommerce-page .related ul li.product.last,.woocommerce-page .related ul.products li.product.last,.woocommerce-page .upsells.products ul li.product.last,.woocommerce-page .upsells.products ul.products li.product.last{margin-right:2%!important}.woocommerce .cart-collaterals .cross-sells ul.products li.product:last-child,.woocommerce .related ul li.product:last-child,.woocommerce .related ul.products li.product:last-child,.woocommerce .upsells.products ul li.product:last-child,.woocommerce .upsells.products ul.products li.product:last-child,.woocommerce-page .cart-collaterals .cross-sells ul.products li.product:last-child,.woocommerce-page .related ul li.product:last-child,.woocommerce-page .related ul.products li.product:last-child,.woocommerce-page .upsells.products ul li.product:last-child,.woocommerce-page .upsells.products ul.products li.product:last-child{margin-right:0!important}.woocommerce #content div.product div.images img,.woocommerce div.product div.images img,.woocommerce ul.cart_list li img,.woocommerce ul.product_list_widget li img,.woocommerce ul.products li.product a img,.woocommerce ul.products li.product a img:hover,.woocommerce-page #content div.product div.images img,.woocommerce-page div.product div.images img,.woocommerce-page ul.cart_list li img,.woocommerce-page ul.product_list_widget li img,.woocommerce-page ul.products li.product a img,.woocommerce-page ul.products li.product a img:hover{box-shadow:none;border-radius:2px}.woocommerce ul.products li.product a:hover img,.woocommerce-page ul.products li.product a:hover img{box-shadow:none}.woocommerce span.onsale,.woocommerce-page span.onsale{text-shadow:none;box-shadow:none;font-size:13px}.woocommerce ul.products li.product .onsale,.woocommerce-page ul.products li.product .onsale{margin:10px 8px 0 0}.woocommerce .products .star-rating,.woocommerce-page .products .star-rating{float:right}.woocommerce ul.products li.product .price,.woocommerce-page ul.products li.product .price{float:left}.woocommerce.woocommerce-page a.button,.woocommerce.woocommerce-page a.button:hover{position:absolute;top:35%;font-size:0;left:44%;border:0;box-shadow:none;min-height:32px;min-width:32px;padding:4px;text-align:center;line-height:32px;border-radius:20px;opacity:0;text-indent:-9999px}.woocommerce.woocommerce-page a.button:hover{opacity:.8}.woocommerce a.button.product_type_simple:before,.woocommerce-page a.button.product_type_simple:before{content:'\e686';font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:20px;position:absolute;top:5px;right:9px;height:auto;width:auto;text-indent:0}.woocommerce a.button.add_to_cart_button:before,.woocommerce-page a.button.add_to_cart_button:before{content:'\e673';font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:20px;position:absolute;top:4px;right:12px;height:auto;width:auto;text-indent:0}.woocommerce a.button.add_to_cart_button.added:before,.woocommerce-page a.button.add_to_cart_button.added:before{content:'\e60c';font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:22px;position:absolute;top:3px;right:9px;height:auto;width:auto;text-indent:0}.woocommerce #content input.button.loading,.woocommerce #respond input#submit.loading,.woocommerce button.button.loading,.woocommerce input.button.loading,.woocommerce-page #content input.button.loading,.woocommerce-page #respond input#submit.loading,.woocommerce-page a.button.loading,.woocommerce-page button.button.loading,.woocommerce-page input.button.loading,a.button.loading{border:0}.woocommerce #content input.button.loading:before,.woocommerce #respond input#submit.loading:before,.woocommerce a.button.loading:before,.woocommerce button.button.loading:before,.woocommerce input.button.loading:before,.woocommerce-page #content input.button.loading:before,.woocommerce-page #respond input#submit.loading:before,.woocommerce-page a.button.loading:before,.woocommerce-page button.button.loading:before,.woocommerce-page input.button.loading:before{content:"";position:absolute;top:0;right:0;left:0;bottom:0;min-height:32px;min-width:32px;padding:4px;text-align:center;line-height:32px;border-radius:20px}.woocommerce .star-rating span,.woocommerce-page .star-rating span{color:#E9D547}.woocommerce a.added_to_cart,.woocommerce-page a.added_to_cart{text-indent:-9999px;position:absolute;font-size:0}.woocommerce .products ul,.woocommerce ul.products,.woocommerce-page .products ul,.woocommerce-page ul.products{margin:0 0 2em}.woocommerce #content nav.woocommerce-pagination ul,.woocommerce nav.woocommerce-pagination ul,.woocommerce-page #content nav.woocommerce-pagination ul,.woocommerce-page nav.woocommerce-pagination ul{border:0}.woocommerce #content nav.woocommerce-pagination ul li,.woocommerce nav.woocommerce-pagination ul li,.woocommerce-page #content nav.woocommerce-pagination ul li,.woocommerce-page nav.woocommerce-pagination ul li{border-right:0}.woocommerce #content div.product div.thumbnails a,.woocommerce div.product div.thumbnails a,.woocommerce-page #content div.product div.thumbnails a,.woocommerce-page div.product div.thumbnails a{width:22.9%;margin-right:2.8%;margin-bottom:2.8%}.woocommerce ul.cart_list li img,.woocommerce ul.product_list_widget li img,.woocommerce-page ul.cart_list li img,.woocommerce-page ul.product_list_widget li img{float:left;margin-right:13px;margin-left:0;width:70px}.woocommerce ul.cart_list li a,.woocommerce ul.product_list_widget li a,.woocommerce-page ul.cart_list li a,.woocommerce-page ul.product_list_widget li a{line-height:25px;margin-bottom:8px}.woocommerce ul.cart_list li,.woocommerce ul.product_list_widget li,.woocommerce-page ul.cart_list li,.woocommerce-page ul.product_list_widget li{padding:0 0 15px;margin-bottom:15px}.woocommerce ul.cart_list li.empty,.woocommerce ul.product_list_widget li.empty,.woocommerce-page ul.cart_list li.empty,.woocommerce-page ul.product_list_widget li.empty{border-bottom:0;margin-bottom:0}.woocommerce ul.product_list_widget li .amount,.woocommerce ul.product_list_widget li .reviewer,.woocommerce-page ul.product_list_widget li .amount,.woocommerce-page ul.product_list_widget li .reviewer{margin-top:8px;display:inline-block}.woocommerce .widget_shopping_cart .total,.woocommerce-page .widget_shopping_cart .total,.woocommerce-page.widget_shopping_cart .total,.woocommerce.widget_shopping_cart .total{border-top:0;padding:6px 0 18px}.woocommerce.widget_shopping_cart a.button,.woocommerce.widget_shopping_cart a.button:hover{position:inherit;font-size:100%;border:0;box-shadow:none;min-height:inherit;min-width:inherit;padding:2px 10px;text-align:center;line-height:32px;border-radius:2px;opacity:1;margin-right:5px;text-indent:0}.woocommerce .widget_price_filter .ui-slider .ui-slider-range,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range{box-shadow:none}.woocommerce .widget_price_filter .ui-slider-horizontal,.woocommerce-page .widget_price_filter .ui-slider-horizontal{height:12px}.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle{width:18px;height:18px;border-radius:50%;border:0;box-shadow:none;margin-left:-1px;top:-3px}.woocommerce button.button,.woocommerce-page button.button{padding:9px 15px}.woocommerce .widget .price_label,.woocommerce-page .widget .price_label{font-size:14px;padding-top:7px}.woocommerce .widget_layered_nav ul li.chosen a,.woocommerce .widget_layered_nav_filters ul li a,.woocommerce-page .widget_layered_nav ul li.chosen a,.woocommerce-page .widget_layered_nav_filters ul li a{padding:5px 7px;border-radius:2px;border:0;margin-right:2px;margin-bottom:2px}.woocommerce .widget_layered_nav ul li.chosen a,.woocommerce-page .widget_layered_nav ul li.chosen a{padding:3px 9px;margin:0;line-height:18px}.woocommerce .woocommerce-ordering,.woocommerce-page .woocommerce-ordering{margin:0 0 1em 5px}.cart-tab{display:none}.cart-tab.right a.cart-parent{left:-70px;width:70px}.cart-tab.left a.cart-parent{right:-70px;width:70px}.cart-tab a.cart-parent{padding:15px 10px}.cart-tab a.cart-parent:before{content:'\e673';font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:21px;position:absolute;top:13px;left:12px}.cart-tab a.cart-parent .amount{display:none}.cart-tab a.cart-parent span.contents{font-size:.8em;float:left;margin-left:28px;width:18px;height:18px;line-height:20px;text-align:center;border-radius:50%}.cart-tab a.cart-parent{min-height:48px}.cart-tab .widgettitle,.widget_product_search .screen-reader-text{display:none}.cart-tab{top:80px}.woocommerce .woocommerce-product-rating,.woocommerce-page .woocommerce-product-rating{margin-bottom:15px}.woocommerce-review-link{opacity:.6}.woocommerce-review-link:hover{opacity:1}.woocommerce div.product p.price,.woocommerce-page div.product p.price{margin-bottom:20px}.woocommerce div.product form.cart,.woocommerce-page div.product form.cart{margin-top:25px;margin-bottom:2.5em}.woocommerce div.product form.cart .button,.woocommerce-page div.product form.cart .button{margin:0 0 0 15px;font-weight:400;padding:9px 20px}.woocommerce #content .quantity input.qty,.woocommerce .quantity input.qty,.woocommerce-page #content .quantity input.qty,.woocommerce-page .quantity input.qty{float:none}.cart .quantity input.minus,.cart .quantity input.plus{background:0 0;cursor:pointer;display:inline;width:35px;height:35px;line-height:35px;margin:0;padding:0;vertical-align:middle;position:relative;box-shadow:none;text-shadow:none}.woocommerce .cart .quantity input.qty{border-left:none;border-right:none;display:inline;width:35px;height:33px;line-height:33px;margin:0;padding:0 5px 0 15px;text-align:center;vertical-align:middle;position:relative;box-shadow:none;text-shadow:none}.woocommerce #content .quantity,.woocommerce .quantity,.woocommerce-page #content .quantity,.woocommerce-page .quantity{width:auto}.woocommerce .product_meta{padding-top:20px}.woocommerce .product_meta>span{display:block;margin-bottom:15px}.woocommerce #content div.product .woocommerce-tabs ul.tabs,.woocommerce div.product .woocommerce-tabs ul.tabs,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs,.woocommerce-page div.product .woocommerce-tabs ul.tabs{padding-left:0!important;margin:0 0 5px}.woocommerce #content div.product .woocommerce-tabs ul.tabs li,.woocommerce div.product .woocommerce-tabs ul.tabs li,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,.woocommerce-page div.product .woocommerce-tabs ul.tabs li{border:none;box-shadow:none;text-shadow:none;border-radius:2px}.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,.woocommerce div.product .woocommerce-tabs ul.tabs li a,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a,.woocommerce-page div.product .woocommerce-tabs ul.tabs li a{padding:0;font-weight:400;text-shadow:none}.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,.woocommerce div.product .woocommerce-tabs ul.tabs li:before,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before{left:0;border-bottom-right-radius:0;box-shadow:none}.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,.woocommerce div.product .woocommerce-tabs ul.tabs li:after,.woocommerce div.product .woocommerce-tabs ul.tabs li:before,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before{border:0;bottom:0;width:0;height:0;content:" "}.woocommerce #content div.product .woocommerce-tabs ul.tabs:before,.woocommerce div.product .woocommerce-tabs ul.tabs:before,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before,.woocommerce-page div.product .woocommerce-tabs ul.tabs:before{border-bottom:0}.woocommerce #content div.product .woocommerce-tabs .panel,.woocommerce div.product .woocommerce-tabs .panel,.woocommerce-page #content div.product .woocommerce-tabs .panel,.woocommerce-page div.product .woocommerce-tabs .panel{padding:15px;border-radius:2px}.woocommerce #content div.product .woocommerce-tabs .panel h2,.woocommerce div.product .woocommerce-tabs .panel h2,.woocommerce-page #content div.product .woocommerce-tabs .panel h2,.woocommerce-page div.product .woocommerce-tabs .panel h2{margin-bottom:10px}.woocommerce #content div.product .woocommerce-tabs .panel>p,.woocommerce div.product .woocommerce-tabs .panel>p,.woocommerce-page #content div.product .woocommerce-tabs .panel>p,.woocommerce-page div.product .woocommerce-tabs .panel>p{opacity:.8}.woocommerce #review_form #respond,.woocommerce-page #review_form #respond{margin-top:10px}.woocommerce-page #review_form #respond input[type=text],.woocommerce-page #review_form #respond textarea{padding:10px}.woocommerce-page #review_form #respond input[type=text]{width:92%}.woocommerce #review_form #respond .form-submit input,.woocommerce-page #review_form #respond .form-submit input{box-shadow:none}.woocommerce .related,.woocommerce .upsells.products,.woocommerce-page .related,.woocommerce-page .upsells.products{padding-top:30px}.woocommerce .related h2,.woocommerce .upsells.products h2,.woocommerce-page .related h2,.woocommerce-page .upsells.products h2{margin-bottom:25px}.woocommerce .single_variation{margin:20px 0}.woocommerce div.product form.cart .variations select,.woocommerce-page div.product form.cart .variations select{margin-bottom:15px;margin-right:10px;width:auto;margin-top:-2px}.woocommerce .woocommerce-message a.button,.woocommerce .woocommerce-message a.button:hover,.woocommerce-page .woocommerce-message a.button,.woocommerce-page .woocommerce-message a.button:hover{position:relative;top:inherit;font-size:14px;left:inherit;border:0;box-shadow:none;min-height:inherit;min-width:inherit;padding:0;text-align:center;line-height:inherit;opacity:1;background:0 0}.woocommerce .woocommerce-error,.woocommerce .woocommerce-info,.woocommerce .woocommerce-message,.woocommerce-page .woocommerce-error,.woocommerce-page .woocommerce-info,.woocommerce-page .woocommerce-message{border-radius:1px;box-shadow:none;text-shadow:none}.woocommerce ul.cart_list li dl,.woocommerce ul.product_list_widget li dl,.woocommerce-page ul.cart_list li dl,.woocommerce-page ul.product_list_widget li dl{border:0;margin-bottom:5px}.woocommerce ul.cart_list li dl dt,.woocommerce ul.product_list_widget li dl dt,.woocommerce-page ul.cart_list li dl dt,.woocommerce-page ul.product_list_widget li dl dt{clear:none}.woocommerce ul.cart_list li dl dd,.woocommerce ul.cart_list li dl dt,.woocommerce ul.product_list_widget li dl dd,.woocommerce ul.product_list_widget li dl dt,.woocommerce-page ul.cart_list li dl dd,.woocommerce-page ul.cart_list li dl dt,.woocommerce-page ul.product_list_widget li dl dd,.woocommerce-page ul.product_list_widget li dl dt{float:none}.woocommerce table.shop_table,.woocommerce-page table.shop_table{border-radius:2px;border:0;margin-bottom:35px}.woocommerce table.shop_table th,.woocommerce-page table.shop_table th{padding:18px;font-weight:400;border:0}.woocommerce table.shop_table td,.woocommerce-page table.shop_table td{border:0;padding:20px 18px}.woocommerce #content table.cart img,.woocommerce-page #content table.cart img,.woocommerce-page table.cart img,woocommerce table.cart img{width:52px;margin-top:5px}.woocommerce #content table.cart a.remove,.woocommerce table.cart a.remove,.woocommerce-page #content table.cart a.remove,.woocommerce-page table.cart a.remove{display:inline-block}.woocommerce .cart .button,.woocommerce .cart input.button,.woocommerce-page .cart .button,.woocommerce-page .cart input.button{font-weight:400!important;border:0;box-shadow:none;text-shadow:none;margin-left:5px}.woocommerce #content table.cart td.actions .input-text,.woocommerce table.cart td.actions .input-text,.woocommerce-page #content table.cart td.actions .input-text,.woocommerce-page table.cart td.actions .input-text{width:110px;line-height:16px!important;font-size:12px;padding:10px 6px!important;box-shadow:none!important;text-shadow:none}.woocommerce .cart-collaterals .cart_totals,.woocommerce-page .cart-collaterals .cart_totals{text-align:left}.woocommerce .cart-collaterals .shipping_calculator,.woocommerce-page .cart-collaterals .shipping_calculator{float:left;clear:none}.woocommerce .cart-collaterals .cross-sells,.woocommerce-page .cart-collaterals .cross-sells{width:100%;margin-top:45px;padding-top:35px}.woocommerce .cart-collaterals .cross-sells h2,.woocommerce-page .cart-collaterals .cross-sells h2{margin-bottom:20px}.woocommerce .cart-collaterals .cart_totals h2,.woocommerce .cart-collaterals .shipping_calculator h2,.woocommerce-page .cart-collaterals .cart_totals h2,.woocommerce-page .cart-collaterals .shipping_calculator h2{padding:12px 18px;margin-bottom:0}.woocommerce .cart-collaterals .cart_totals,.woocommerce .cart-collaterals .shipping_calculator,.woocommerce-page .cart-collaterals .cart_totals,.woocommerce-page .cart-collaterals .shipping_calculator{width:49%}.woocommerce .cart-collaterals .shipping_calculator .shipping-calculator-button:after,.woocommerce-page .cart-collaterals .shipping_calculator .shipping-calculator-button:after{float:right;margin-top:5px}.woocommerce .cart-collaterals .cart_totals table th,.woocommerce-page .cart-collaterals .cart_totals table th{padding:18px 12px;width:50%;border:0}.woocommerce .cart-collaterals .cart_totals table td,.woocommerce-page .cart-collaterals .cart_totals table td{padding:18px 12px;border:0}.woocommerce .cart-collaterals .shipping_calculator .shipping-calculator-form,.woocommerce-page .cart-collaterals .shipping_calculator .shipping-calculator-form{padding:18px}.woocommerce form .form-row input.input-text,.woocommerce form .form-row textarea,.woocommerce-page form .form-row input.input-text,.woocommerce-page form .form-row textarea{line-height:16px!important;font-size:14px;padding:10px 6px!important;box-shadow:none!important;text-shadow:none}.woocommerce .cart-collaterals .shipping_calculator .shipping-calculator-form p,.woocommerce-page .cart-collaterals .shipping_calculator .shipping-calculator-form p{padding:3px;margin:0 0 6px}.woocommerce .cart-collaterals .shipping_calculator .button,.woocommerce-page .cart-collaterals .shipping_calculator .button{line-height:20px}.woocommerce .col2-set,.woocommerce-page .col2-set{margin-bottom:40px}.woocommerce table.shop_table tfoot td,.woocommerce table.shop_table tfoot th,.woocommerce-page table.shop_table tfoot td,.woocommerce-page table.shop_table tfoot th{border-top:0}h3#order_review_heading{margin-bottom:20px}.woocommerce #payment ul.payment_methods li,.woocommerce-page #payment ul.payment_methods li{list-style:none;margin-bottom:10px}.woocommerce #payment div.payment_box,.woocommerce-page #payment div.payment_box{box-shadow:none!important;text-shadow:none}.woocommerce #payment ul.payment_methods,.woocommerce-page #payment ul.payment_methods{list-style:none}.woocommerce #payment div.form-row,.woocommerce-page #payment div.form-row{border-top:0}.woocommerce #content input.button,.woocommerce #content input.button.alt,.woocommerce #respond input#submit,.woocommerce #respond input#submit.alt,.woocommerce a.button,.woocommerce a.button.alt,.woocommerce button.button,.woocommerce button.button.alt,.woocommerce input.button,.woocommerce input.button.alt,.woocommerce-page #content input.button,.woocommerce-page #content input.button.alt,.woocommerce-page #respond input#submit,.woocommerce-page #respond input#submit.alt,.woocommerce-page a.button,.woocommerce-page a.button.alt,.woocommerce-page button.button,.woocommerce-page button.button.alt,.woocommerce-page input.button,.woocommerce-page input.button.alt{text-shadow:none;box-shadow:none;border:0}.woocommerce form.checkout_coupon,.woocommerce form.login,.woocommerce form.register,.woocommerce-page form.checkout_coupon,.woocommerce-page form.login,.woocommerce-page form.register{border-radius:2px}.woocommerce form .form-row,.woocommerce-page form .form-row{padding:5px 0}.woocommerce form p:last-child,.woocommerce-page form .form-row p:last-child{margin-top:10px}.woocommerce td.product-name dl.variation dd,.woocommerce td.product-name dl.variation dt,.woocommerce-page td.product-name dl.variation dd,.woocommerce-page td.product-name dl.variation dt{float:none}.mejs-controls div.mejs-time-rail{width:70.9%!important}.mejs-controls .mejs-time-rail .mejs-time-total{width:69.3%!important}.sixteen.columns .mejs-controls div.mejs-time-rail{width:79.9%!important}.sixteen.columns .mejs-controls .mejs-time-rail .mejs-time-total{width:78.3%!important}.one-third.column .mejs-controls div.mejs-time-rail{width:38.9%!important}.one-third.column .mejs-controls .mejs-time-rail .mejs-time-total{width:36.3%!important}.loader{position:fixed;left:0;top:0;width:100%;height:100%;z-index:9999;background:url(images/loading.gif) 50% 50% no-repeat #fefefe}
.left-banner {
	position: absolute;
    z-index: 1;
    left: 0px;
}
footer {
    z-index: 1;
    position: relative;
	}
.right-banner {
	position: absolute;
    z-index: 1;
    right: 0px;
}
.footer-top input#s {float:left;}
.widget .submit-search {right:auto;margin-left: -30px;}
li a {color:#e7402f;}
@media (max-width:420px) {
.sign {max-width:100%;}	
.sign h3 span{font-size:21px;}
.sign input.email {max-width: 200px;}
}