.minict_wrapper {
  color: #444;
  background: #fff;
  position: relative;
  border: 1px solid #e5e5e5;
  border-radius: 1px; 
  cursor: pointer;
}

.minict_wrapper:after {
    content: "\25BC";
    display: block;
    position: absolute;
    height: 2.1rem;
    width: 2.1rem;
    top: 5px;
    right: 0;
    font-size: 0.6rem;
    line-height: 1.9rem;
    text-align: center;
    color: #444;
}

.minict_wrapper.active:after {
    content: "\25B2"; 
}

.minict_wrapper input {
    border: 0 !important;
    outline: none;
    background: none;
    color: #444;
    font-size: 17px;
    padding: 7px 12px;
    cursor: pointer;
    width: 100%; 
    line-height: 21px;
    box-shadow: none !important;
}

.minict_wrapper ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 1px;
    left: -1px;
    max-height: 21rem;
    overflow-y: auto;
    z-index: 999999; 
    background-color: #fff;
}

.minict_wrapper ul li {
      list-style: none;
      font-size: 15px;
      padding: 0 0.7rem;
      cursor: pointer;
      background: #fff;
      color: #444;
	  padding: 10px 12px;
      margin: 0 0 1px 0 !important;
}

.minict_wrapper ul li:hover {
        background: #F7F7F7;
        color: #E44E44; 
}

.minict_wrapper ul li.minict_group {
        color: #444;
        background: #F3F3F3;
        font-weight: bold;
        cursor: default; 
        font-size: 16px;
}

.minict_wrapper ul li.minict_empty {
        display: none;
        background: #fff !important;
        color: #bbb;
        text-align: center;
        font-size: 0.9rem;
        height: 3.5rem;
        line-height: 3.3rem; 
}

.minict_wrapper ul li.selected {
        background: #F7F7F7;
        color: #E44E44;  
}

.minict_wrapper ul li.highlighted {
        background: #F7F7F7;
        color: #E44E44;  
}

.minict_wrapper ul li.hidden {
        display: none; 
}

.minict_wrapper input:-moz-placeholder {  color: #444; }  
.minict_wrapper input::-moz-placeholder {  color: #444; } 
.minict_wrapper input::-webkit-input-placeholder {  color: #444; } 
.minict_wrapper input:-ms-input-placeholder {    color: #444; } 