/*   
Theme Name: Invention
Theme URI: http://themes.jozoor.com/?theme=Invention-WP
Description: Invention Theme corporate, portfolio and business websites, responsive and clean layout, more than color skins, Fully Customizable, Comprehensive Theme Options and more..
Author: Jozoor Team
Author URI: http://www.jozoor.com
Version: 1.1
*/

/*
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =   
=     00   00 00 00   00 00 00   00 00 00   00 00 00   00 00  =
=     00   00    00        00    00    00   00    00   00     =
=     00   00    00      00      00    00   00    00   00     =  
=     00   00    00    00        00    00   00    00   00     =
=  00 00   00 00 00   00 00 00   00 00 00   00 00 00   00     =
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
= = = = = = Thanks for watching our source code :)  = = = = = =
*/

.switcher h3{font-size:13px;margin:1px 0 3px;color:#474646}.switcher{background:#FBFBFB;width:159px;position:fixed;top:185px;z-index:9999;left:0;border-radius:0 0 4px;border-right:1px solid #fff;border-bottom:1px solid #fff;-webkit-box-shadow:0 0 4px 0 rgba(51,51,51,.4);box-shadow:0 0 4px 0 rgba(51,51,51,.4)}.switcher h2{background:#4b4c4d;color:#FFF;font-size:15px;padding:5px 0 6px 15px;line-height:30px}.switcher h2 a{background:#4b4c4d;display:block;height:27px;position:absolute;right:-39px;top:0;width:42px;border-radius:0 4px 4px 0;text-align:center;color:#fff;padding:7px 0}.switcher .content2{padding:5px 16px 16px;overflow:hidden}.layout-switcher{margin:0 0 10px;overflow:hidden}.layout-switcher a.layout{padding:8px 7px 7px;border-radius:2px;color:#5a5c5d;border:2px solid #EAEAEA;width:39px;cursor:pointer;float:left;display:block;margin:0 6px 0 0;text-align:center;background:#fff}.layout-switcher a.layout.current{cursor:default;border:2px solid}.switcher-box{height:auto;overflow:hidden;margin-bottom:6px}.styleswitch{width:20px;height:23px;display:block;cursor:pointer;margin:0 4px 4px 0;float:left}.styleswitch.current{-moz-box-shadow:inset 0 0 5px #000;-webkit-box-shadow:inset 0 0 5px #000;box-shadow:inner 0 0 5px #000}.styleswitch#red{background-color:#e7402f}.styleswitch#orange{background-color:#ef730e}.styleswitch#turquoise{background-color:#3fbd98}.styleswitch#green{background-color:#80ba42}.styleswitch#blue{background-color:#378ac4}.bg{height:auto;overflow:hidden;margin-bottom:6px}.pattern{width:21px;height:24px;display:block;cursor:pointer;margin:0 4px 4px 0;float:left;box-shadow:0 0 0 1px #D6D2D2 inset}.pattern.current{-moz-box-shadow:inset 0 0 5px #000;-webkit-box-shadow:inset 0 0 5px #000;box-shadow:inner 0 0 5px #000}.pattern#crossed{background:url(./icons/crossed.png) no-repeat}.pattern#fabric{background:url(./icons/fabric.png) no-repeat}.pattern#linen{background:url(./icons/linen.png) no-repeat}.pattern#wood{background:url(./icons/wood.png) no-repeat}.pattern#diagmonds{background:url(./icons/diagmonds.png) no-repeat}.pattern#triangles{background:url(./icons/triangles.png) no-repeat}.pattern#black_mamba{background:url(./icons/black_mamba.png) no-repeat}.pattern#vichy{background:url(./icons/vichy.png) no-repeat}.pattern#back_pattern{background:url(./icons/back_pattern.png) no-repeat}.pattern#checkered_pattern{background:url(./icons/checkered_pattern.png) no-repeat}.pattern#diamond_upholstery{background:url(./icons/diamond_upholstery.png) no-repeat}.pattern#lyonnette{background:url(./icons/lyonnette.png) no-repeat}.pattern#graphy{background:url(./icons/graphy.png) no-repeat}.pattern#black_thread{background:url(./icons/black_thread.png) no-repeat}.pattern#subtlenet2{background:url(./icons/subtlenet2.png) no-repeat}a.dark-style{display:block;padding:9px 0 11px;text-align:center;background:#4b4c4d;color:#fff;cursor:pointer}