/*   
Theme Name: Invention
Theme URI: http://themes.jozoor.com/?theme=Invention-WP
Description: Invention Theme corporate, portfolio and business websites, responsive and clean layout, more than color skins, Fully Customizable, Comprehensive Theme Options and more..
Author: Jozoor Team
Author URI: http://www.jozoor.com
Version: 1.1
*/

/*
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =   
=     00   00 00 00   00 00 00   00 00 00   00 00 00   00 00  =
=     00   00    00        00    00    00   00    00   00     =
=     00   00    00      00      00    00   00    00   00     =  
=     00   00    00    00        00    00   00    00   00     =
=  00 00   00 00 00   00 00 00   00 00 00   00 00 00   00     =
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
= = = = = = Thanks for watching our source code :)  = = = = = =
*/

@media only screen and (min-width:768px) and (max-width:959px){.container{width:768px}.container .column,.container .columns{margin-left:10px;margin-right:10px}.column.alpha,.columns.alpha{margin-left:0;margin-right:10px}.column.omega,.columns.omega{margin-right:0;margin-left:10px}.alpha.omega{margin-left:0;margin-right:0}.container .one.column,.container .one.columns{width:28px}.container .two.columns{width:76px}.container .three.columns{width:124px}.container .four.columns{width:172px}.container .five.columns{width:220px}.container .six.columns{width:268px}.container .seven.columns{width:316px}.container .eight.columns{width:364px}.container .nine.columns{width:412px}.container .ten.columns{width:460px}.container .eleven.columns{width:508px}.container .twelve.columns{width:556px}.container .thirteen.columns{width:604px}.container .fourteen.columns{width:652px}.container .fifteen.columns{width:700px}.container .sixteen.columns{width:748px}.container .one-third.column{width:236px}.container .two-thirds.column{width:492px}.container .offset-by-one{padding-left:48px}.container .offset-by-two{padding-left:96px}.container .offset-by-three{padding-left:144px}.container .offset-by-four{padding-left:192px}.container .offset-by-five{padding-left:240px}.container .offset-by-six{padding-left:288px}.container .offset-by-seven{padding-left:336px}.container .offset-by-eight{padding-left:384px}.container .offset-by-nine{padding-left:432px}.container .offset-by-ten{padding-left:480px}.container .offset-by-eleven{padding-left:528px}.container .offset-by-twelve{padding-left:576px}.container .offset-by-thirteen{padding-left:624px}.container .offset-by-fourteen{padding-left:672px}.container .offset-by-fifteen{padding-left:720px}}@media only screen and (max-width:767px){.container{width:260px}.container .column,.container .columns{margin:0}.container .eight.columns,.container .eleven.columns,.container .fifteen.columns,.container .five.columns,.container .four.columns,.container .fourteen.columns,.container .nine.columns,.container .one-third.column,.container .one.column,.container .one.columns,.container .seven.columns,.container .six.columns,.container .sixteen.columns,.container .ten.columns,.container .thirteen.columns,.container .three.columns,.container .twelve.columns,.container .two-thirds.column,.container .two.columns{width:260px}.container .offset-by-eight,.container .offset-by-eleven,.container .offset-by-fifteen,.container .offset-by-five,.container .offset-by-four,.container .offset-by-fourteen,.container .offset-by-nine,.container .offset-by-one,.container .offset-by-seven,.container .offset-by-six,.container .offset-by-ten,.container .offset-by-thirteen,.container .offset-by-three,.container .offset-by-twelve,.container .offset-by-two{padding-left:0}.container .column.shortcode-column,.container .columns.shortcode-column{margin-right:0}}@media only screen and (min-width:480px) and (max-width:767px){.container{width:420px}.container .column,.container .columns{margin:0}.container .eight.columns,.container .eleven.columns,.container .fifteen.columns,.container .five.columns,.container .four.columns,.container .fourteen.columns,.container .nine.columns,.container .one-third.column,.container .one.column,.container .one.columns,.container .seven.columns,.container .six.columns,.container .sixteen.columns,.container .ten.columns,.container .thirteen.columns,.container .three.columns,.container .twelve.columns,.container .two-thirds.column,.container .two.columns{width:420px}.container .column.shortcode-column,.container .columns.shortcode-column{margin-right:0}}